//
// Written by Synplify Pro 
// Product Version "X-2025.09LR-SP1"
// Program "Synplify Pro", Mapper "map202509latsp1, Build 093R"
// Sun Sep 20 17:55:29 2026
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\lscc\radiant\2026.1\synpbase\lib\generic\ice40up.v "
// file 1 "\c:\lscc\radiant\2026.1\synpbase\lib\vlog\hypermods.v "
// file 2 "\c:\lscc\radiant\2026.1\synpbase\lib\vlog\scemi_objects.v "
// file 3 "\c:\lscc\radiant\2026.1\synpbase\lib\vlog\scemi_pipes.svh "
// file 4 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_ice40up.v "
// file 5 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_addsub.v "
// file 6 "\c:\lscc\radiant\2026.1\ip\pmi\../common/adder_subtractor/rtl\lscc_add_sub.v "
// file 7 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_add.v "
// file 8 "\c:\lscc\radiant\2026.1\ip\pmi\../common/adder/rtl\lscc_adder.v "
// file 9 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_complex_mult.v "
// file 10 "\c:\lscc\radiant\2026.1\ip\pmi\../common/complex_mult/rtl\lscc_complex_mult.v "
// file 11 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_counter.v "
// file 12 "\c:\lscc\radiant\2026.1\ip\pmi\../common/counter/rtl\lscc_cntr.v "
// file 13 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_fifo.v "
// file 14 "\c:\lscc\radiant\2026.1\ip\pmi\../common/fifo/rtl\lscc_fifo.v "
// file 15 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_fifo_dc.v "
// file 16 "\c:\lscc\radiant\2026.1\ip\pmi\../common/fifo_dc/rtl\lscc_fifo_dc.v "
// file 17 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc.v "
// file 18 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_distributed_ram.v "
// file 19 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_ecc.v "
// file 20 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v "
// file 21 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_gray_reg.v "
// file 22 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_gray_synchronizer.v "
// file 23 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_harden_prim.v "
// file 24 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v "
// file 25 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v "
// file 26 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_harden_ring_counter.v "
// file 27 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v "
// file 28 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_harden.v "
// file 29 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_prim_gen.v "
// file 30 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v "
// file 31 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/fifo_dc/rtl\lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v "
// file 32 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_mac.v "
// file 33 "\c:\lscc\radiant\2026.1\ip\pmi\../common/mult_accumulate/rtl\lscc_mult_accumulate.v "
// file 34 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_multaddsubsum.v "
// file 35 "\c:\lscc\radiant\2026.1\ip\pmi\../common/mult_add_sub_sum/rtl\lscc_mult_add_sub_sum.v "
// file 36 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_multaddsub.v "
// file 37 "\c:\lscc\radiant\2026.1\ip\pmi\../common/mult_add_sub/rtl\lscc_mult_add_sub.v "
// file 38 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_mult.v "
// file 39 "\c:\lscc\radiant\2026.1\ip\pmi\../common/multiplier/rtl\lscc_multiplier.v "
// file 40 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_ram_dp.v "
// file 41 "\c:\lscc\radiant\2026.1\ip\pmi\../common/ram_dp/rtl\lscc_ram_dp.v "
// file 42 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/ram_dp/rtl\lscc_lfmxo4_ram_dp.v "
// file 43 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/ram_dp/rtl\lscc_lfmxo4_ram_dp_impl.v "
// file 44 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/ram_dp/rtl\lscc_lfmxo4_ram_dp_behavioral.v "
// file 45 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/ram_dp/rtl\lscc_lfmxo4_ram_dp_lut_decode.v "
// file 46 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/ram_dp/rtl\lscc_lfmxo4_ram_dp_functions.vh "
// file 47 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_ram_dq.v "
// file 48 "\c:\lscc\radiant\2026.1\ip\pmi\../common/ram_dq/rtl\lscc_ram_dq.v "
// file 49 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/ram_dq/rtl\lscc_lfmxo4_ram_dq.v "
// file 50 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/ram_dq/rtl\hsiao_ecc_encoder.v "
// file 51 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/ram_dq/rtl\hsiao_ecc_decoder.v "
// file 52 "\c:\lscc\radiant\2026.1\ip\pmi\../lfmxo4/ram_dq/rtl\lscc_lfmxo4_ram_dq_lut_decode.v "
// file 53 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_rom.v "
// file 54 "\c:\lscc\radiant\2026.1\ip\pmi\../common/rom/rtl\lscc_rom.v "
// file 55 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_sub.v "
// file 56 "\c:\lscc\radiant\2026.1\ip\pmi\../common/subtractor/rtl\lscc_subtractor.v "
// file 57 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_ram_dp_be.v "
// file 58 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_ram_dq_be.v "
// file 59 "\c:\lscc\radiant\2026.1\ip\pmi\pmi_dsp.v "
// file 60 "\c:\users\skantimahanty\documents\github\engr155-lab3\project files\source\impl_1\counter.sv "
// file 61 "\c:\users\skantimahanty\documents\github\engr155-lab3\project files\source\impl_1\lab3_skm.sv "
// file 62 "\c:\users\skantimahanty\documents\github\engr155-lab3\project files\source\impl_1\lab2_scanner.sv "
// file 63 "\c:\users\skantimahanty\documents\github\engr155-lab3\project files\source\impl_1\lab2_sevenseg.sv "
// file 64 "\c:\users\skantimahanty\documents\github\engr155-lab3\project files\source\impl_1\lab3debouncer.sv "
// file 65 "\c:\users\skantimahanty\documents\github\engr155-lab3\project files\source\impl_1\lab3led.sv "
// file 66 "\c:\users\skantimahanty\documents\github\engr155-lab3\project files\source\impl_1\lab3main.sv "
// file 67 "\c:\users\skantimahanty\documents\github\engr155-lab3\project files\source\impl_1\lab3sync.sv "
// file 68 "\c:\lscc\radiant\2026.1\synpbase\lib\nlconst.dat "
// file 69 "\c:\lscc\radiant\2026.1\scripts\tcl\flow\radiant_synplify_vars.tcl "
// file 70 "\c:\users\skantimahanty\documents\github\engr155-lab3\project files\impl_1\lab3_impl_1_cpe.ldc "
// file 71 "\c:/users/skantimahanty/documents/github/engr155-lab3/project files/impl_1/lab3_impl_1_cpe.ldc "

`timescale 100 ps/100 ps
module counter_24s_23999 (
  rows_c,
  rows_c_0_rep1,
  rows_c_2_rep1,
  int_osc
)
;
output [3:0] rows_c ;
output rows_c_0_rep1 ;
output rows_c_2_rep1 ;
input int_osc ;
wire rows_c_0_rep1 ;
wire rows_c_2_rep1 ;
wire int_osc ;
wire [4:4] count_fast;
wire [4:4] count_4_fast;
wire [23:0] count2;
wire [14:0] count_4;
wire [23:23] count_RNO_S0;
wire [16:16] count_RNI96904;
wire [8:8] count_RNI165JD_1;
wire [13:13] count_RNI68TP4;
wire GND ;
wire VCC ;
wire un1_count_1_cry_9_c_0_S0 ;
wire un1_count_1_cry_5_c_0_S1 ;
wire un1_count_1_cry_21_c_0_S1 ;
wire un1_count_1_cry_21_c_0_S0 ;
wire un1_count_1_cry_19_c_0_S1 ;
wire un1_count_1_cry_19_c_0_S0 ;
wire un1_count_1_cry_17_c_0_S1 ;
wire un1_count_1_cry_17_c_0_S0 ;
wire un1_count_1_cry_15_c_0_S1 ;
wire un1_count_1_cry_15_c_0_S0 ;
wire un1_count_1_cry_13_c_0_S0 ;
wire N_82 ;
wire count14_5 ;
wire count14_6 ;
wire count14_10 ;
wire N_83 ;
wire N_84 ;
wire N_85 ;
wire N_87 ;
wire N_89 ;
wire N_90 ;
wire N_92 ;
wire N_93 ;
wire N_94 ;
wire N_96 ;
wire g0_1 ;
wire state8_7 ;
wire state8_8 ;
wire g0_1_0 ;
wire g2_0 ;
wire g2_1 ;
wire state6_10 ;
wire g0_0_3 ;
wire g0_rep1_1 ;
wire g2_5 ;
wire un1_count2_1lt23_0 ;
wire un1_count_1_cry_3_c_0_S1 ;
wire g0_1_0_0 ;
wire g0_1_2 ;
wire g2_1_0 ;
wire g3_1_2_0 ;
wire g2_0_0 ;
wire g2_2 ;
wire G_21_i_4 ;
wire G_21_i_3 ;
wire G_21_i_a10_2 ;
wire N_46_mux ;
wire G_21_i_6 ;
wire N_9 ;
wire m44_0_a2_i_3 ;
wire m44_0_a2_i_a6_1 ;
wire m49_e_0_a2_2 ;
wire N_10 ;
wire g0_1_a2_5 ;
wire m44_0_a2_i_4 ;
wire m44_0_a2_i_5 ;
wire N_18 ;
wire N_12 ;
wire g3_1_2 ;
wire g2 ;
wire un1_count2_6 ;
wire g0_4 ;
wire g0_1_1 ;
wire state6lt4_0_0 ;
wire state6_8 ;
wire g0_5 ;
wire state6lt7_0_0 ;
wire g3_2 ;
wire g0_0_1 ;
wire g2_4 ;
wire state8_0 ;
wire state6lt4_0 ;
wire un1_count2_1lto6_0_1 ;
wire un1_count2_1lt10 ;
wire state6lto10_0 ;
wire state8_2 ;
wire count14_4 ;
wire un1_count2_1lto13_1 ;
wire state6_9 ;
wire N_106 ;
wire un1_count_1_cry_22 ;
wire un1_count_1_cry_20 ;
wire un1_count_1_cry_18 ;
wire un1_count_1_cry_16 ;
wire un1_count_1_cry_14 ;
wire un1_count_1_cry_12 ;
wire un1_count_1_cry_10 ;
wire un1_count_1_cry_8 ;
wire un1_count_1_cry_6 ;
wire un1_count_1_cry_4 ;
wire un1_count_1_cry_2 ;
wire un1_count_1_cry_0 ;
wire N_1 ;
wire N_2 ;
wire N_3 ;
// @60:13
  FD1P3DZ \count_fast_Z[4]  (
	.Q(count_fast[4]),
	.D(count_4_fast[4]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[11]  (
	.Q(count2[11]),
	.D(count_4[11]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[10]  (
	.Q(count2[10]),
	.D(count_4[10]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[9]  (
	.Q(count2[9]),
	.D(un1_count_1_cry_9_c_0_S0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[8]  (
	.Q(count2[8]),
	.D(count_4[8]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[7]  (
	.Q(count2[7]),
	.D(count_4[7]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[6]  (
	.Q(count2[6]),
	.D(un1_count_1_cry_5_c_0_S1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[5]  (
	.Q(count2[5]),
	.D(count_4[5]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[4]  (
	.Q(count2[4]),
	.D(count_4[4]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[3]  (
	.Q(count2[3]),
	.D(count_4[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[2]  (
	.Q(count2[2]),
	.D(count_4[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[1]  (
	.Q(count2[1]),
	.D(count_4[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[0]  (
	.Q(count2[0]),
	.D(count_4[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[23]  (
	.Q(count2[23]),
	.D(count_RNO_S0[23]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[22]  (
	.Q(count2[22]),
	.D(un1_count_1_cry_21_c_0_S1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[21]  (
	.Q(count2[21]),
	.D(un1_count_1_cry_21_c_0_S0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[20]  (
	.Q(count2[20]),
	.D(un1_count_1_cry_19_c_0_S1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[19]  (
	.Q(count2[19]),
	.D(un1_count_1_cry_19_c_0_S0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[18]  (
	.Q(count2[18]),
	.D(un1_count_1_cry_17_c_0_S1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[17]  (
	.Q(count2[17]),
	.D(un1_count_1_cry_17_c_0_S0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[16]  (
	.Q(count2[16]),
	.D(un1_count_1_cry_15_c_0_S1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[15]  (
	.Q(count2[15]),
	.D(un1_count_1_cry_15_c_0_S0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[14]  (
	.Q(count2[14]),
	.D(count_4[14]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[13]  (
	.Q(count2[13]),
	.D(un1_count_1_cry_13_c_0_S0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[12]  (
	.Q(count2[12]),
	.D(count_4[12]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
  LUT4 \count_RNO[0]  (
	.A(N_82),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[0])
);
defparam \count_RNO[0] .INIT="0x2AAA";
  LUT4 \count_RNO[1]  (
	.A(N_83),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[1])
);
defparam \count_RNO[1] .INIT="0x2AAA";
  LUT4 \count_RNO[2]  (
	.A(N_84),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[2])
);
defparam \count_RNO[2] .INIT="0x2AAA";
  LUT4 \count_RNO[3]  (
	.A(N_85),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[3])
);
defparam \count_RNO[3] .INIT="0x2AAA";
  LUT4 \count_RNO[5]  (
	.A(N_87),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[5])
);
defparam \count_RNO[5] .INIT="0x2AAA";
  LUT4 \count_RNO[7]  (
	.A(N_89),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[7])
);
defparam \count_RNO[7] .INIT="0x2AAA";
  LUT4 \count_RNO[8]  (
	.A(N_90),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[8])
);
defparam \count_RNO[8] .INIT="0x2AAA";
  LUT4 \count_RNO[10]  (
	.A(N_92),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[10])
);
defparam \count_RNO[10] .INIT="0x2AAA";
  LUT4 \count_RNO[11]  (
	.A(N_93),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[11])
);
defparam \count_RNO[11] .INIT="0x2AAA";
  LUT4 \count_RNO[12]  (
	.A(N_94),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[12])
);
defparam \count_RNO[12] .INIT="0x2AAA";
  LUT4 \count_RNO[14]  (
	.A(N_96),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[14])
);
defparam \count_RNO[14] .INIT="0x2AAA";
  LUT4 \count_RNI96904_cZ[16]  (
	.A(g0_1),
	.B(state8_7),
	.C(state8_8),
	.D(GND),
	.Z(count_RNI96904[16])
);
defparam \count_RNI96904_cZ[16] .INIT="0x7F7F";
  LUT4 \count_RNI165JD_1_cZ[8]  (
	.A(count2[8]),
	.B(g0_1_0),
	.C(g2_0),
	.D(g2_1),
	.Z(count_RNI165JD_1[8])
);
defparam \count_RNI165JD_1_cZ[8] .INIT="0x00EA";
  LUT4 \count_RNI68TP4_cZ[13]  (
	.A(count2[12]),
	.B(count2[13]),
	.C(count_RNI96904[16]),
	.D(GND),
	.Z(count_RNI68TP4[13])
);
defparam \count_RNI68TP4_cZ[13] .INIT="0x0707";
  LUT4 \count_RNI4T2111[13]  (
	.A(count2[13]),
	.B(state6_10),
	.C(count_RNI165JD_1[8]),
	.D(count_RNI68TP4[13]),
	.Z(rows_c_2_rep1)
);
defparam \count_RNI4T2111[13] .INIT="0x1300";
  LUT4 \count_RNI2M8Q21[13]  (
	.A(g0_0_3),
	.B(g0_rep1_1),
	.C(g2_5),
	.D(un1_count2_1lt23_0),
	.Z(rows_c_0_rep1)
);
defparam \count_RNI2M8Q21[13] .INIT="0xF3D1";
  LUT4 \count_fast_RNO[4]  (
	.A(un1_count_1_cry_3_c_0_S1),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4_fast[4])
);
defparam \count_fast_RNO[4] .INIT="0x2AAA";
  LUT4 \count_RNI37RU1_0[7]  (
	.A(count2[6]),
	.B(count2[7]),
	.C(GND),
	.D(GND),
	.Z(g0_1_0_0)
);
defparam \count_RNI37RU1_0[7] .INIT="0x8888";
  LUT4 \count_RNIJAE61_0[16]  (
	.A(count2[14]),
	.B(count2[15]),
	.C(count2[16]),
	.D(GND),
	.Z(g0_1_2)
);
defparam \count_RNIJAE61_0[16] .INIT="0x0101";
  LUT4 \count_RNITJ1P1_0[10]  (
	.A(count2[9]),
	.B(count2[10]),
	.C(count2[11]),
	.D(GND),
	.Z(g2_1_0)
);
defparam \count_RNITJ1P1_0[10] .INIT="0x7F7F";
  LUT4 \count_fast_RNI57IT5_0[4]  (
	.A(count_fast[4]),
	.B(count2[1]),
	.C(count2[2]),
	.D(GND),
	.Z(g3_1_2_0)
);
defparam \count_fast_RNI57IT5_0[4] .INIT="0x8080";
  LUT4 \count_RNIULQR8_0[0]  (
	.A(count2[0]),
	.B(count2[3]),
	.C(count2[5]),
	.D(g3_1_2_0),
	.Z(g2_0_0)
);
defparam \count_RNIULQR8_0[0] .INIT="0xF8F0";
  LUT4 \count_RNI165JD[8]  (
	.A(count2[8]),
	.B(g0_1_0_0),
	.C(g2_0_0),
	.D(g2_1_0),
	.Z(g2_2)
);
defparam \count_RNI165JD[8] .INIT="0xFF15";
  LUT4 \count_RNIHI7JF[13]  (
	.A(count2[12]),
	.B(count2[13]),
	.C(g0_1_2),
	.D(g2_2),
	.Z(g0_rep1_1)
);
defparam \count_RNIHI7JF[13] .INIT="0x7030";
  LUT4 \count_RNIAK8J1[16]  (
	.A(count2[13]),
	.B(count2[16]),
	.C(count2[18]),
	.D(count2[19]),
	.Z(G_21_i_4)
);
defparam \count_RNIAK8J1[16] .INIT="0xFFFE";
  LUT4 \count_RNIB2E61[11]  (
	.A(count2[11]),
	.B(count2[12]),
	.C(count2[14]),
	.D(GND),
	.Z(G_21_i_3)
);
defparam \count_RNIB2E61[11] .INIT="0xF8F8";
  LUT4 \count_RNI1AFO2[10]  (
	.A(count2[8]),
	.B(count2[9]),
	.C(count2[10]),
	.D(count2[12]),
	.Z(G_21_i_a10_2)
);
defparam \count_RNI1AFO2[10] .INIT="0x8000";
  LUT4 \count_RNIIPLT3_1[0]  (
	.A(count2[0]),
	.B(count2[1]),
	.C(count2[2]),
	.D(count2[3]),
	.Z(N_46_mux)
);
defparam \count_RNIIPLT3_1[0] .INIT="0x8000";
  LUT4 \count_RNIPVAJ3[17]  (
	.A(G_21_i_3),
	.B(G_21_i_4),
	.C(count2[15]),
	.D(count2[17]),
	.Z(G_21_i_6)
);
defparam \count_RNIPVAJ3[17] .INIT="0xFFFE";
  LUT4 \count_RNIIFUR6[4]  (
	.A(N_46_mux),
	.B(count2[4]),
	.C(count2[5]),
	.D(count2[6]),
	.Z(N_9)
);
defparam \count_RNIIFUR6[4] .INIT="0xE000";
  LUT4 \count_RNIED67E[7]  (
	.A(G_21_i_6),
	.B(G_21_i_a10_2),
	.C(N_9),
	.D(count2[7]),
	.Z(state6_10)
);
defparam \count_RNIED67E[7] .INIT="0x1115";
  LUT4 \count_RNI1C9J1[17]  (
	.A(count2[13]),
	.B(count2[14]),
	.C(count2[17]),
	.D(count2[22]),
	.Z(m44_0_a2_i_3)
);
defparam \count_RNI1C9J1[17] .INIT="0xFFF1";
  LUT4 \count_RNI1O1P1[8]  (
	.A(count2[8]),
	.B(count2[12]),
	.C(count2[14]),
	.D(GND),
	.Z(m44_0_a2_i_a6_1)
);
defparam \count_RNI1O1P1[8] .INIT="0x0101";
  LUT4 \count_RNIK98U2[0]  (
	.A(count2[0]),
	.B(count2[1]),
	.C(count2[2]),
	.D(GND),
	.Z(m49_e_0_a2_2)
);
defparam \count_RNIK98U2[0] .INIT="0x8080";
  LUT4 \count_RNITJ1P1_1[10]  (
	.A(count2[9]),
	.B(count2[10]),
	.C(count2[11]),
	.D(GND),
	.Z(N_10)
);
defparam \count_RNITJ1P1_1[10] .INIT="0x7F7F";
  LUT4 \count_RNINRPP2[18]  (
	.A(count2[18]),
	.B(count2[20]),
	.C(count2[21]),
	.D(g0_1_a2_5),
	.Z(m44_0_a2_i_4)
);
defparam \count_RNINRPP2[18] .INIT="0xFEFF";
  LUT4 \count_RNIS2V54[14]  (
	.A(N_10),
	.B(m44_0_a2_i_3),
	.C(count2[12]),
	.D(count2[14]),
	.Z(m44_0_a2_i_5)
);
defparam \count_RNIS2V54[14] .INIT="0xCCCE";
  LUT4 \count_RNIHSGS5[4]  (
	.A(m49_e_0_a2_2),
	.B(count2[3]),
	.C(count2[4]),
	.D(count2[5]),
	.Z(N_18)
);
defparam \count_RNIHSGS5[4] .INIT="0x007F";
  LUT4 \count_RNILRDK9[7]  (
	.A(N_18),
	.B(m44_0_a2_i_a6_1),
	.C(count2[6]),
	.D(count2[7]),
	.Z(N_12)
);
defparam \count_RNILRDK9[7] .INIT="0x8CCC";
  LUT4 \count_RNIAUTDT[14]  (
	.A(N_12),
	.B(m44_0_a2_i_4),
	.C(m44_0_a2_i_5),
	.D(un1_count2_1lt23_0),
	.Z(rows_c[1])
);
defparam \count_RNIAUTDT[14] .INIT="0x0001";
  LUT4 \count_RNI37RU1[7]  (
	.A(count2[6]),
	.B(count2[7]),
	.C(GND),
	.D(GND),
	.Z(g0_1_0)
);
defparam \count_RNI37RU1[7] .INIT="0x8888";
  LUT4 \count_RNIJAE61[16]  (
	.A(count2[14]),
	.B(count2[15]),
	.C(count2[16]),
	.D(GND),
	.Z(g0_1)
);
defparam \count_RNIJAE61[16] .INIT="0x0101";
  LUT4 \count_RNITJ1P1[10]  (
	.A(count2[9]),
	.B(count2[10]),
	.C(count2[11]),
	.D(GND),
	.Z(g2_1)
);
defparam \count_RNITJ1P1[10] .INIT="0x7F7F";
  LUT4 \count_fast_RNI57IT5[4]  (
	.A(count_fast[4]),
	.B(count2[1]),
	.C(count2[2]),
	.D(GND),
	.Z(g3_1_2)
);
defparam \count_fast_RNI57IT5[4] .INIT="0x8080";
  LUT4 \count_RNIULQR8[0]  (
	.A(count2[0]),
	.B(count2[3]),
	.C(count2[5]),
	.D(g3_1_2),
	.Z(g2_0)
);
defparam \count_RNIULQR8[0] .INIT="0xF8F0";
  LUT4 \count_RNI165JD_0[8]  (
	.A(count2[8]),
	.B(g0_1_0),
	.C(g2_0),
	.D(g2_1),
	.Z(g2)
);
defparam \count_RNI165JD_0[8] .INIT="0xFF15";
  LUT4 \count_RNIHI7JF_0[13]  (
	.A(count2[12]),
	.B(count2[13]),
	.C(g0_1),
	.D(g2),
	.Z(un1_count2_6)
);
defparam \count_RNIHI7JF_0[13] .INIT="0x7030";
  LUT4 \count_RNIS7AJ1[20]  (
	.A(count2[14]),
	.B(count2[15]),
	.C(count2[20]),
	.D(count2[21]),
	.Z(g0_4)
);
defparam \count_RNIS7AJ1[20] .INIT="0x0001";
  LUT4 \count_RNIJ9LB2[10]  (
	.A(count2[8]),
	.B(count2[9]),
	.C(count2[10]),
	.D(GND),
	.Z(g0_1_1)
);
defparam \count_RNIJ9LB2[10] .INIT="0x8080";
  LUT4 \count_RNIIPLT3_0[0]  (
	.A(count2[0]),
	.B(count2[1]),
	.C(count2[2]),
	.D(count2[3]),
	.Z(state6lt4_0_0)
);
defparam \count_RNIIPLT3_0[0] .INIT="0x8000";
  LUT4 \count_RNISVOP2[22]  (
	.A(count2[13]),
	.B(count2[22]),
	.C(count2[23]),
	.D(state6_8),
	.Z(g0_5)
);
defparam \count_RNISVOP2[22] .INIT="0x0100";
  LUT4 \count_RNIIFUR6_0[4]  (
	.A(count2[4]),
	.B(count2[5]),
	.C(count2[6]),
	.D(state6lt4_0_0),
	.Z(state6lt7_0_0)
);
defparam \count_RNIIFUR6_0[4] .INIT="0xC080";
  LUT4 \count_RNIKCRJA[11]  (
	.A(count2[7]),
	.B(count2[11]),
	.C(g0_1_1),
	.D(state6lt7_0_0),
	.Z(g3_2)
);
defparam \count_RNIKCRJA[11] .INIT="0x0313";
  LUT4 \count_RNIQKODF[12]  (
	.A(count2[12]),
	.B(g0_4),
	.C(g0_5),
	.D(g3_2),
	.Z(rows_c[3])
);
defparam \count_RNIQKODF[12] .INIT="0xC040";
  LUT4 \count_RNI8J9J1[16]  (
	.A(count2[15]),
	.B(count2[16]),
	.C(count2[19]),
	.D(count2[23]),
	.Z(g0_1_a2_5)
);
defparam \count_RNI8J9J1[16] .INIT="0x0001";
  LUT4 \count_RNI7CKP[17]  (
	.A(count2[17]),
	.B(count2[18]),
	.C(GND),
	.D(GND),
	.Z(g0_0_1)
);
defparam \count_RNI7CKP[17] .INIT="0x1111";
  LUT4 \count_RNI4GAJ1[17]  (
	.A(count2[17]),
	.B(count2[18]),
	.C(count2[21]),
	.D(count2[22]),
	.Z(g2_4)
);
defparam \count_RNI4GAJ1[17] .INIT="0xFFFE";
  LUT4 \count_RNIP3FJ3[19]  (
	.A(count2[19]),
	.B(count2[20]),
	.C(g0_0_1),
	.D(state8_0),
	.Z(g0_0_3)
);
defparam \count_RNIP3FJ3[19] .INIT="0x1000";
  LUT4 \count_RNIMRQP2[19]  (
	.A(count2[19]),
	.B(count2[20]),
	.C(count2[23]),
	.D(g2_4),
	.Z(g2_5)
);
defparam \count_RNIMRQP2[19] .INIT="0xFFFE";
  LUT4 \count_RNI2M8Q21_0[13]  (
	.A(g0_0_3),
	.B(g0_rep1_1),
	.C(g2_5),
	.D(un1_count2_1lt23_0),
	.Z(rows_c[0])
);
defparam \count_RNI2M8Q21_0[13] .INIT="0xF3D1";
  LUT4 \count_RNIOB7Q9[6]  (
	.A(count2[6]),
	.B(count2[8]),
	.C(state6lt4_0),
	.D(un1_count2_1lto6_0_1),
	.Z(un1_count2_1lt10)
);
defparam \count_RNIOB7Q9[6] .INIT="0x1300";
  LUT4 \count_RNI2AMT3[4]  (
	.A(count2[4]),
	.B(count2[5]),
	.C(count2[6]),
	.D(count2[7]),
	.Z(un1_count2_1lto6_0_1)
);
defparam \count_RNI2AMT3[4] .INIT="0x001F";
  LUT4 \count_RNIGK7C1[10]  (
	.A(count2[9]),
	.B(count2[10]),
	.C(GND),
	.D(GND),
	.Z(state6lto10_0)
);
defparam \count_RNIGK7C1[10] .INIT="0x8888";
  LUT4 \count_RNI38KP[16]  (
	.A(count2[15]),
	.B(count2[16]),
	.C(GND),
	.D(GND),
	.Z(state8_2)
);
defparam \count_RNI38KP[16] .INIT="0x1111";
  LUT4 \count_RNI4DFO2[15]  (
	.A(count2[6]),
	.B(count2[8]),
	.C(count2[13]),
	.D(count2[15]),
	.Z(count14_6)
);
defparam \count_RNI4DFO2[15] .INIT="0x0004";
  LUT4 \count_RNIT5FO2[10]  (
	.A(count2[5]),
	.B(count2[9]),
	.C(count2[10]),
	.D(count2[11]),
	.Z(count14_5)
);
defparam \count_RNIT5FO2[10] .INIT="0x2000";
  LUT4 \count_RNIV7FO2[4]  (
	.A(count2[4]),
	.B(count2[7]),
	.C(count2[12]),
	.D(count2[14]),
	.Z(count14_4)
);
defparam \count_RNIV7FO2[4] .INIT="0x8000";
  LUT4 \count_RNIA1E61[11]  (
	.A(count2[11]),
	.B(count2[12]),
	.C(count2[13]),
	.D(GND),
	.Z(un1_count2_1lto13_1)
);
defparam \count_RNIA1E61[11] .INIT="0x0101";
  LUT4 \count_RNIIPLT3[0]  (
	.A(count2[0]),
	.B(count2[1]),
	.C(count2[2]),
	.D(count2[3]),
	.Z(state6lt4_0)
);
defparam \count_RNIIPLT3[0] .INIT="0x8000";
  LUT4 \count_RNIEO8J1[16]  (
	.A(count2[16]),
	.B(count2[17]),
	.C(count2[18]),
	.D(count2[19]),
	.Z(state6_8)
);
defparam \count_RNIEO8J1[16] .INIT="0x0001";
  LUT4 \count_RNIQ7CJ1[20]  (
	.A(count2[20]),
	.B(count2[21]),
	.C(count2[22]),
	.D(count2[23]),
	.Z(state6_9)
);
defparam \count_RNIQ7CJ1[20] .INIT="0x0001";
  LUT4 \count_RNID7H61[21]  (
	.A(count2[21]),
	.B(count2[22]),
	.C(count2[23]),
	.D(GND),
	.Z(state8_8)
);
defparam \count_RNID7H61[21] .INIT="0x0101";
  LUT4 \count_RNI9K9J1[17]  (
	.A(count2[17]),
	.B(count2[18]),
	.C(count2[19]),
	.D(count2[20]),
	.Z(state8_7)
);
defparam \count_RNI9K9J1[17] .INIT="0x0001";
  LUT4 \count_RNIGF502[21]  (
	.A(count2[21]),
	.B(count2[22]),
	.C(count2[23]),
	.D(state8_2),
	.Z(state8_0)
);
defparam \count_RNIGF502[21] .INIT="0x0100";
  LUT4 \count_RNIP1QS9[20]  (
	.A(count14_4),
	.B(state6_8),
	.C(state6_9),
	.D(state6lt4_0),
	.Z(count14_10)
);
defparam \count_RNIP1QS9[20] .INIT="0x8000";
  LUT4 \count_RNIQKODF[10]  (
	.A(count14_5),
	.B(count14_6),
	.C(count14_10),
	.D(GND),
	.Z(N_106)
);
defparam \count_RNIQKODF[10] .INIT="0x7F7F";
  LUT4 \count_RNO[4]  (
	.A(un1_count_1_cry_3_c_0_S1),
	.B(count14_5),
	.C(count14_6),
	.D(count14_10),
	.Z(count_4[4])
);
defparam \count_RNO[4] .INIT="0x2AAA";
  LUT4 \count_RNI24NPC[14]  (
	.A(count2[14]),
	.B(state6lto10_0),
	.C(un1_count2_1lt10),
	.D(un1_count2_1lto13_1),
	.Z(un1_count2_1lt23_0)
);
defparam \count_RNI24NPC[14] .INIT="0x08AA";
  LUT4 \count_RNILR8K01[13]  (
	.A(state6_10),
	.B(state8_7),
	.C(state8_8),
	.D(un1_count2_6),
	.Z(rows_c[2])
);
defparam \count_RNILR8K01[13] .INIT="0x4000";
  CCU2_B \count_RNO[23]  (
	.CIN(un1_count_1_cry_22),
	.A0(count2[23]),
	.A1(GND),
	.B0(GND),
	.B1(GND),
	.C0(GND),
	.C1(GND),
	.COUT(N_1),
	.S0(count_RNO_S0[23]),
	.S1(N_2)
);
defparam \count_RNO[23] .INIT0="0x55AA";
defparam \count_RNO[23] .INIT1="0xC33C";
// @60:21
  CCU2_B un1_count_1_cry_21_c_0 (
	.CIN(un1_count_1_cry_20),
	.A0(GND),
	.A1(GND),
	.B0(count2[21]),
	.B1(count2[22]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_22),
	.S0(un1_count_1_cry_21_c_0_S0),
	.S1(un1_count_1_cry_21_c_0_S1)
);
defparam un1_count_1_cry_21_c_0.INIT0="0x9966";
defparam un1_count_1_cry_21_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_19_c_0 (
	.CIN(un1_count_1_cry_18),
	.A0(GND),
	.A1(GND),
	.B0(count2[19]),
	.B1(count2[20]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_20),
	.S0(un1_count_1_cry_19_c_0_S0),
	.S1(un1_count_1_cry_19_c_0_S1)
);
defparam un1_count_1_cry_19_c_0.INIT0="0x9966";
defparam un1_count_1_cry_19_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_17_c_0 (
	.CIN(un1_count_1_cry_16),
	.A0(GND),
	.A1(GND),
	.B0(count2[17]),
	.B1(count2[18]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_18),
	.S0(un1_count_1_cry_17_c_0_S0),
	.S1(un1_count_1_cry_17_c_0_S1)
);
defparam un1_count_1_cry_17_c_0.INIT0="0x9966";
defparam un1_count_1_cry_17_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_15_c_0 (
	.CIN(un1_count_1_cry_14),
	.A0(GND),
	.A1(GND),
	.B0(count2[15]),
	.B1(count2[16]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_16),
	.S0(un1_count_1_cry_15_c_0_S0),
	.S1(un1_count_1_cry_15_c_0_S1)
);
defparam un1_count_1_cry_15_c_0.INIT0="0x9966";
defparam un1_count_1_cry_15_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_13_c_0 (
	.CIN(un1_count_1_cry_12),
	.A0(GND),
	.A1(GND),
	.B0(count2[13]),
	.B1(count2[14]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_14),
	.S0(un1_count_1_cry_13_c_0_S0),
	.S1(N_96)
);
defparam un1_count_1_cry_13_c_0.INIT0="0x9966";
defparam un1_count_1_cry_13_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_11_c_0 (
	.CIN(un1_count_1_cry_10),
	.A0(GND),
	.A1(GND),
	.B0(count2[11]),
	.B1(count2[12]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_12),
	.S0(N_93),
	.S1(N_94)
);
defparam un1_count_1_cry_11_c_0.INIT0="0x9966";
defparam un1_count_1_cry_11_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_9_c_0 (
	.CIN(un1_count_1_cry_8),
	.A0(GND),
	.A1(GND),
	.B0(count2[9]),
	.B1(count2[10]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_10),
	.S0(un1_count_1_cry_9_c_0_S0),
	.S1(N_92)
);
defparam un1_count_1_cry_9_c_0.INIT0="0x9966";
defparam un1_count_1_cry_9_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_7_c_0 (
	.CIN(un1_count_1_cry_6),
	.A0(GND),
	.A1(GND),
	.B0(count2[7]),
	.B1(count2[8]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_8),
	.S0(N_89),
	.S1(N_90)
);
defparam un1_count_1_cry_7_c_0.INIT0="0x9966";
defparam un1_count_1_cry_7_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_5_c_0 (
	.CIN(un1_count_1_cry_4),
	.A0(GND),
	.A1(GND),
	.B0(count2[5]),
	.B1(count2[6]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_6),
	.S0(N_87),
	.S1(un1_count_1_cry_5_c_0_S1)
);
defparam un1_count_1_cry_5_c_0.INIT0="0x9966";
defparam un1_count_1_cry_5_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_3_c_0 (
	.CIN(un1_count_1_cry_2),
	.A0(GND),
	.A1(GND),
	.B0(count2[3]),
	.B1(count2[4]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_4),
	.S0(N_85),
	.S1(un1_count_1_cry_3_c_0_S1)
);
defparam un1_count_1_cry_3_c_0.INIT0="0x9966";
defparam un1_count_1_cry_3_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_1_c_0 (
	.CIN(un1_count_1_cry_0),
	.A0(GND),
	.A1(GND),
	.B0(count2[1]),
	.B1(count2[2]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_2),
	.S0(N_83),
	.S1(N_84)
);
defparam un1_count_1_cry_1_c_0.INIT0="0x9966";
defparam un1_count_1_cry_1_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_0_c_0 (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(N_106),
	.B1(count2[0]),
	.C0(N_106),
	.C1(GND),
	.COUT(un1_count_1_cry_0),
	.S0(N_3),
	.S1(N_82)
);
defparam un1_count_1_cry_0_c_0.INIT0="0xC33C";
defparam un1_count_1_cry_0_c_0.INIT1="0x9966";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* counter_24s_23999 */

module lab2_scanner_24s_23999 (
  rows_c,
  int_osc,
  rows_c_2_rep1,
  rows_c_0_rep1
)
;
output [3:0] rows_c ;
input int_osc ;
output rows_c_2_rep1 ;
output rows_c_0_rep1 ;
wire int_osc ;
wire rows_c_2_rep1 ;
wire rows_c_0_rep1 ;
wire GND_x ;
wire VCC_x ;
wire GND ;
wire VCC ;
// @62:17
  counter_24s_23999 count (
	.rows_c(rows_c[3:0]),
	.rows_c_0_rep1(rows_c_0_rep1),
	.rows_c_2_rep1(rows_c_2_rep1),
	.int_osc(int_osc)
);
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* lab2_scanner_24s_23999 */

module lab3sync (
  cols2,
  cols_c,
  rows_c_0,
  rows_c_2,
  rows2,
  rows_c_2_rep1,
  rows_c_0_rep1,
  int_osc
)
;
output [3:0] cols2 ;
input [3:0] cols_c ;
input rows_c_0 ;
input rows_c_2 ;
output [3:0] rows2 ;
input rows_c_2_rep1 ;
input rows_c_0_rep1 ;
input int_osc ;
wire rows_c_0 ;
wire rows_c_2 ;
wire rows_c_2_rep1 ;
wire rows_c_0_rep1 ;
wire int_osc ;
wire [3:0] rows_first;
wire [3:0] cols_first_i;
wire [3:0] cols_first;
wire GND ;
wire VCC ;
// @67:17
  FD1P3DZ \rows_sync[0]  (
	.Q(rows2[0]),
	.D(rows_first[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \rows_sync[1]  (
	.Q(rows2[1]),
	.D(rows_first[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \rows_sync[2]  (
	.Q(rows2[2]),
	.D(rows_first[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \rows_sync[3]  (
	.Q(rows2[3]),
	.D(rows_first[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \rows_first_Z[0]  (
	.Q(rows_first[0]),
	.D(rows_c_0_rep1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \rows_first_Z[1]  (
	.Q(rows_first[1]),
	.D(rows_c_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \rows_first_Z[2]  (
	.Q(rows_first[2]),
	.D(rows_c_2_rep1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \rows_first_Z[3]  (
	.Q(rows_first[3]),
	.D(rows_c_2),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \cols_sync[0]  (
	.Q(cols2[0]),
	.D(cols_first_i[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \cols_first_Z[3]  (
	.Q(cols_first[3]),
	.D(cols_c[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \cols_first_Z[2]  (
	.Q(cols_first[2]),
	.D(cols_c[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \cols_first_Z[1]  (
	.Q(cols_first[1]),
	.D(cols_c[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \cols_first_Z[0]  (
	.Q(cols_first[0]),
	.D(cols_c[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \cols_sync[3]  (
	.Q(cols2[3]),
	.D(cols_first_i[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \cols_sync[2]  (
	.Q(cols2[2]),
	.D(cols_first_i[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @67:17
  FD1P3DZ \cols_sync[1]  (
	.Q(cols2[1]),
	.D(cols_first_i[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
  LUT4 \cols_sync_RNO[0]  (
	.A(cols_first[0]),
	.B(GND),
	.C(GND),
	.D(GND),
	.Z(cols_first_i[0])
);
defparam \cols_sync_RNO[0] .INIT="0x5555";
  LUT4 \cols_sync_RNO[3]  (
	.A(cols_first[3]),
	.B(GND),
	.C(GND),
	.D(GND),
	.Z(cols_first_i[3])
);
defparam \cols_sync_RNO[3] .INIT="0x5555";
  LUT4 \cols_sync_RNO[2]  (
	.A(cols_first[2]),
	.B(GND),
	.C(GND),
	.D(GND),
	.Z(cols_first_i[2])
);
defparam \cols_sync_RNO[2] .INIT="0x5555";
  LUT4 \cols_sync_RNO[1]  (
	.A(cols_first[1]),
	.B(GND),
	.C(GND),
	.D(GND),
	.Z(cols_first_i[1])
);
defparam \cols_sync_RNO[1] .INIT="0x5555";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* lab3sync */

module lab3main (
  segout_0_i,
  rows2,
  cols2,
  state_i,
  int_osc
)
;
output [3:0] segout_0_i ;
input [3:0] rows2 ;
input [3:0] cols2 ;
output state_i ;
input int_osc ;
wire state_i ;
wire int_osc ;
wire [3:0] num;
wire [3:3] numnext_cnst_0_i;
wire [1:0] rowdummy;
wire [1:0] coldummy;
wire [1:0] numnext_cnst_i_1;
wire [3:3] numnext_cnst_0_0;
wire N_7_0 ;
wire GND ;
wire state_3 ;
wire N_9_0 ;
wire N_11_0 ;
wire N_34_i ;
wire N_58_1_i ;
wire N_42_i ;
wire N_51_0_i ;
wire state ;
wire state_0 ;
wire VCC ;
wire state_3_1_1 ;
wire state_3_1_2 ;
wire state_3_2 ;
wire row_pmux_3_ns_1 ;
wire row_pmux ;
wire col_pmux_3_ns_1 ;
wire col_pmux ;
wire N_55 ;
wire N_18 ;
wire N_14 ;
wire N_21 ;
// @66:148
  FD1P3DZ \num_Z[0]  (
	.Q(num[0]),
	.D(N_7_0),
	.CK(int_osc),
	.CD(GND),
	.SP(state_3)
);
// @66:148
  FD1P3DZ \num_Z[1]  (
	.Q(num[1]),
	.D(N_9_0),
	.CK(int_osc),
	.CD(GND),
	.SP(state_3)
);
// @66:148
  FD1P3DZ \num_Z[2]  (
	.Q(num[2]),
	.D(N_11_0),
	.CK(int_osc),
	.CD(GND),
	.SP(state_3)
);
// @66:148
  FD1P3DZ \num_Z[3]  (
	.Q(num[3]),
	.D(numnext_cnst_0_i[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(state_3)
);
// @66:148
  FD1P3DZ \rowdummy_Z[0]  (
	.Q(rowdummy[0]),
	.D(N_34_i),
	.CK(int_osc),
	.CD(GND),
	.SP(state_3)
);
// @66:148
  FD1P3DZ \rowdummy_Z[1]  (
	.Q(rowdummy[1]),
	.D(N_58_1_i),
	.CK(int_osc),
	.CD(GND),
	.SP(state_3)
);
// @66:148
  FD1P3DZ \coldummy_Z[0]  (
	.Q(coldummy[0]),
	.D(N_42_i),
	.CK(int_osc),
	.CD(GND),
	.SP(state_3)
);
// @66:148
  FD1P3DZ \coldummy_Z[1]  (
	.Q(coldummy[1]),
	.D(N_51_0_i),
	.CK(int_osc),
	.CD(GND),
	.SP(state_3)
);
// @66:148
  FD1P3DZ state_Z (
	.Q(state),
	.D(state_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
  LUT4 state_3_1_1_cZ (
	.A(cols2[3]),
	.B(cols2[2]),
	.C(cols2[0]),
	.D(cols2[1]),
	.Z(state_3_1_1)
);
defparam state_3_1_1_cZ.INIT="0x111E";
  LUT4 state_RNIV995N1 (
	.A(state_3_1_1),
	.B(state_3_1_2),
	.C(state_3_2),
	.D(GND),
	.Z(state_3)
);
defparam state_RNIV995N1.INIT="0x8080";
  LUT4 state_3_1_2_cZ (
	.A(rows2[0]),
	.B(rows2[1]),
	.C(rows2[2]),
	.D(rows2[3]),
	.Z(state_3_1_2)
);
defparam state_3_1_2_cZ.INIT="0x0116";
  LUT4 \num_RNO[0]  (
	.A(cols2[1]),
	.B(numnext_cnst_i_1[0]),
	.C(rows2[2]),
	.D(GND),
	.Z(N_7_0)
);
defparam \num_RNO[0] .INIT="0xC4C4";
  LUT4 \num_RNO_0[0]  (
	.A(cols2[0]),
	.B(cols2[2]),
	.C(rows2[0]),
	.D(rows2[2]),
	.Z(numnext_cnst_i_1[0])
);
defparam \num_RNO_0[0] .INIT="0x113E";
  LUT4 state_RNO_1 (
	.A(row_pmux_3_ns_1),
	.B(rowdummy[0]),
	.C(rows2[1]),
	.D(rows2[3]),
	.Z(row_pmux)
);
defparam state_RNO_1.INIT="0xD591";
  LUT4 state_RNO_3 (
	.A(rowdummy[0]),
	.B(rowdummy[1]),
	.C(rows2[0]),
	.D(rows2[2]),
	.Z(row_pmux_3_ns_1)
);
defparam state_RNO_3.INIT="0x2367";
  LUT4 state_RNO_0 (
	.A(cols2[1]),
	.B(cols2[3]),
	.C(col_pmux_3_ns_1),
	.D(coldummy[0]),
	.Z(col_pmux)
);
defparam state_RNO_0.INIT="0xAC0F";
  LUT4 state_RNO_2 (
	.A(cols2[0]),
	.B(cols2[2]),
	.C(coldummy[0]),
	.D(coldummy[1]),
	.Z(col_pmux_3_ns_1)
);
defparam state_RNO_2.INIT="0x03F5";
  LUT4 state_RNI58MC4 (
	.A(state),
	.B(GND),
	.C(GND),
	.D(GND),
	.Z(state_i)
);
defparam state_RNI58MC4.INIT="0x5555";
  LUT4 un1_rowdummynext34_1_1_a7 (
	.A(cols2[2]),
	.B(cols2[3]),
	.C(GND),
	.D(GND),
	.Z(N_55)
);
defparam un1_rowdummynext34_1_1_a7.INIT="0x8888";
  LUT4 \num_RNO_1[1]  (
	.A(cols2[1]),
	.B(rows2[2]),
	.C(GND),
	.D(GND),
	.Z(N_18)
);
defparam \num_RNO_1[1] .INIT="0x8888";
  LUT4 \num_RNO_0[2]  (
	.A(cols2[1]),
	.B(cols2[3]),
	.C(rows2[2]),
	.D(GND),
	.Z(N_14)
);
defparam \num_RNO_0[2] .INIT="0xCACA";
  LUT4 \num_RNO_0[3]  (
	.A(cols2[0]),
	.B(cols2[1]),
	.C(rows2[0]),
	.D(rows2[1]),
	.Z(numnext_cnst_0_0[3])
);
defparam \num_RNO_0[3] .INIT="0x8ACF";
  LUT4 \coldummy_RNO[1]  (
	.A(cols2[2]),
	.B(cols2[3]),
	.C(GND),
	.D(GND),
	.Z(N_51_0_i)
);
defparam \coldummy_RNO[1] .INIT="0xEEEE";
  LUT4 \num_RNI41HCC[3]  (
	.A(num[3]),
	.B(state),
	.C(GND),
	.D(GND),
	.Z(segout_0_i[3])
);
defparam \num_RNI41HCC[3] .INIT="0xBBBB";
  LUT4 \num_RNI30HCC[2]  (
	.A(num[2]),
	.B(state),
	.C(GND),
	.D(GND),
	.Z(segout_0_i[2])
);
defparam \num_RNI30HCC[2] .INIT="0xBBBB";
  LUT4 \num_RNI2VGCC[1]  (
	.A(num[1]),
	.B(state),
	.C(GND),
	.D(GND),
	.Z(segout_0_i[1])
);
defparam \num_RNI2VGCC[1] .INIT="0xBBBB";
  LUT4 \num_RNI1UGCC[0]  (
	.A(num[0]),
	.B(state),
	.C(GND),
	.D(GND),
	.Z(segout_0_i[0])
);
defparam \num_RNI1UGCC[0] .INIT="0xBBBB";
  LUT4 \rowdummy_RNO[0]  (
	.A(rows2[1]),
	.B(rows2[3]),
	.C(GND),
	.D(GND),
	.Z(N_34_i)
);
defparam \rowdummy_RNO[0] .INIT="0xEEEE";
  LUT4 \rowdummy_RNO[1]  (
	.A(rows2[2]),
	.B(rows2[3]),
	.C(GND),
	.D(GND),
	.Z(N_58_1_i)
);
defparam \rowdummy_RNO[1] .INIT="0xEEEE";
  LUT4 \coldummy_RNO[0]  (
	.A(cols2[1]),
	.B(cols2[3]),
	.C(GND),
	.D(GND),
	.Z(N_42_i)
);
defparam \coldummy_RNO[0] .INIT="0xEEEE";
  LUT4 state_RNIBILDR (
	.A(cols2[0]),
	.B(cols2[1]),
	.C(N_55),
	.D(state),
	.Z(state_3_2)
);
defparam state_RNIBILDR.INIT="0x0007";
  LUT4 \num_RNO_0[1]  (
	.A(cols2[0]),
	.B(N_18),
	.C(rows2[0]),
	.D(rows2[1]),
	.Z(numnext_cnst_i_1[1])
);
defparam \num_RNO_0[1] .INIT="0x2231";
  LUT4 \num_RNO[2]  (
	.A(cols2[2]),
	.B(N_14),
	.C(rows2[1]),
	.D(rows2[3]),
	.Z(N_11_0)
);
defparam \num_RNO[2] .INIT="0x0013";
  LUT4 \num_RNO[1]  (
	.A(cols2[0]),
	.B(cols2[2]),
	.C(numnext_cnst_i_1[1]),
	.D(rows2[0]),
	.Z(N_9_0)
);
defparam \num_RNO[1] .INIT="0xE0F0";
  LUT4 \num_RNO[3]  (
	.A(cols2[0]),
	.B(cols2[1]),
	.C(cols2[2]),
	.D(numnext_cnst_0_0[3]),
	.Z(numnext_cnst_0_i[3])
);
defparam \num_RNO[3] .INIT="0x01FF";
  LUT4 state_RNO (
	.A(col_pmux),
	.B(row_pmux),
	.C(state),
	.D(state_3),
	.Z(state_0)
);
defparam state_RNO.INIT="0xFFB0";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* lab3main */

module counter_24s_95999 (
  timer_reset_n_i,
  candidate6_21,
  candidate6_22,
  int_osc
)
;
input timer_reset_n_i ;
output candidate6_21 ;
output candidate6_22 ;
input int_osc ;
wire timer_reset_n_i ;
wire candidate6_21 ;
wire candidate6_22 ;
wire int_osc ;
wire [23:0] timer_count;
wire [16:0] count_RNO;
wire [23:23] count_RNO_S0_1;
wire [22:22] count_RNIFIPTJ1;
wire GND ;
wire VCC ;
wire un1_count_1_cry_11_c_0_S0 ;
wire un1_count_1_cry_7_c_0_S1 ;
wire un1_count_1_cry_21_c_0_S1_1 ;
wire un1_count_1_cry_21_c_0_S0_1 ;
wire un1_count_1_cry_19_c_0_S1_1 ;
wire un1_count_1_cry_19_c_0_S0_1 ;
wire un1_count_1_cry_17_c_0_S1_1 ;
wire un1_count_1_cry_17_c_0_S0_0 ;
wire un1_count_1_cry_15_c_0_S0_1 ;
wire N_81 ;
wire N_57 ;
wire N_58 ;
wire N_59 ;
wire N_60 ;
wire N_61 ;
wire N_62 ;
wire N_63 ;
wire N_64 ;
wire N_66 ;
wire N_67 ;
wire N_69 ;
wire N_70 ;
wire N_71 ;
wire N_73 ;
wire candidate6_21_3 ;
wire candidate6_21_4 ;
wire candidate6_22_11 ;
wire candidate6_22_10 ;
wire candidate6_22_9 ;
wire candidate6_22_8 ;
wire un1_count_1_cry_22 ;
wire un1_count_1_cry_20 ;
wire un1_count_1_cry_18 ;
wire un1_count_1_cry_16 ;
wire un1_count_1_cry_14 ;
wire un1_count_1_cry_12 ;
wire un1_count_1_cry_10 ;
wire un1_count_1_cry_8 ;
wire un1_count_1_cry_6 ;
wire un1_count_1_cry_4 ;
wire un1_count_1_cry_2 ;
wire un1_count_1_cry_0 ;
wire N_1 ;
wire N_2 ;
wire N_3 ;
// @60:13
  FD1P3DZ \count[12]  (
	.Q(timer_count[12]),
	.D(count_RNO[12]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[11]  (
	.Q(timer_count[11]),
	.D(un1_count_1_cry_11_c_0_S0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[10]  (
	.Q(timer_count[10]),
	.D(count_RNO[10]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[9]  (
	.Q(timer_count[9]),
	.D(count_RNO[9]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[8]  (
	.Q(timer_count[8]),
	.D(un1_count_1_cry_7_c_0_S1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[7]  (
	.Q(timer_count[7]),
	.D(count_RNO[7]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[6]  (
	.Q(timer_count[6]),
	.D(count_RNO[6]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[5]  (
	.Q(timer_count[5]),
	.D(count_RNO[5]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[4]  (
	.Q(timer_count[4]),
	.D(count_RNO[4]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[3]  (
	.Q(timer_count[3]),
	.D(count_RNO[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[2]  (
	.Q(timer_count[2]),
	.D(count_RNO[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[1]  (
	.Q(timer_count[1]),
	.D(count_RNO[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[0]  (
	.Q(timer_count[0]),
	.D(count_RNO[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[23]  (
	.Q(timer_count[23]),
	.D(count_RNO_S0_1[23]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[22]  (
	.Q(timer_count[22]),
	.D(un1_count_1_cry_21_c_0_S1_1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[21]  (
	.Q(timer_count[21]),
	.D(un1_count_1_cry_21_c_0_S0_1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[20]  (
	.Q(timer_count[20]),
	.D(un1_count_1_cry_19_c_0_S1_1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[19]  (
	.Q(timer_count[19]),
	.D(un1_count_1_cry_19_c_0_S0_1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[18]  (
	.Q(timer_count[18]),
	.D(un1_count_1_cry_17_c_0_S1_1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[17]  (
	.Q(timer_count[17]),
	.D(un1_count_1_cry_17_c_0_S0_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[16]  (
	.Q(timer_count[16]),
	.D(count_RNO[16]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[15]  (
	.Q(timer_count[15]),
	.D(un1_count_1_cry_15_c_0_S0_1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[14]  (
	.Q(timer_count[14]),
	.D(count_RNO[14]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[13]  (
	.Q(timer_count[13]),
	.D(count_RNO[13]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
  LUT4 \count_RNIICGBS3[22]  (
	.A(candidate6_22),
	.B(VCC),
	.C(count_RNIFIPTJ1[22]),
	.D(GND),
	.Z(N_81)
);
defparam \count_RNIICGBS3[22] .INIT="0xE4E4";
  LUT4 \count_RNO_cZ[0]  (
	.A(N_57),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[0])
);
defparam \count_RNO_cZ[0] .INIT="0x002A";
  LUT4 \count_RNO_cZ[1]  (
	.A(N_58),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[1])
);
defparam \count_RNO_cZ[1] .INIT="0x002A";
  LUT4 \count_RNO_cZ[2]  (
	.A(N_59),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[2])
);
defparam \count_RNO_cZ[2] .INIT="0x002A";
  LUT4 \count_RNO_cZ[3]  (
	.A(N_60),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[3])
);
defparam \count_RNO_cZ[3] .INIT="0x002A";
  LUT4 \count_RNO_cZ[4]  (
	.A(N_61),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[4])
);
defparam \count_RNO_cZ[4] .INIT="0x002A";
  LUT4 \count_RNO_cZ[5]  (
	.A(N_62),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[5])
);
defparam \count_RNO_cZ[5] .INIT="0x002A";
  LUT4 \count_RNO_cZ[6]  (
	.A(N_63),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[6])
);
defparam \count_RNO_cZ[6] .INIT="0x002A";
  LUT4 \count_RNO_cZ[7]  (
	.A(N_64),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[7])
);
defparam \count_RNO_cZ[7] .INIT="0x002A";
  LUT4 \count_RNO_cZ[9]  (
	.A(N_66),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[9])
);
defparam \count_RNO_cZ[9] .INIT="0x002A";
  LUT4 \count_RNO_cZ[10]  (
	.A(N_67),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[10])
);
defparam \count_RNO_cZ[10] .INIT="0x002A";
  LUT4 \count_RNO_cZ[12]  (
	.A(N_69),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[12])
);
defparam \count_RNO_cZ[12] .INIT="0x002A";
  LUT4 \count_RNO_cZ[13]  (
	.A(N_70),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[13])
);
defparam \count_RNO_cZ[13] .INIT="0x002A";
  LUT4 \count_RNO_cZ[14]  (
	.A(N_71),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[14])
);
defparam \count_RNO_cZ[14] .INIT="0x002A";
  LUT4 \count_RNO_cZ[16]  (
	.A(N_73),
	.B(candidate6_21),
	.C(candidate6_22),
	.D(timer_reset_n_i),
	.Z(count_RNO[16])
);
defparam \count_RNO_cZ[16] .INIT="0x002A";
  LUT4 \count_RNIFIPTJ1_cZ[22]  (
	.A(candidate6_21_3),
	.B(candidate6_21_4),
	.C(timer_count[22]),
	.D(timer_count[23]),
	.Z(count_RNIFIPTJ1[22])
);
defparam \count_RNIFIPTJ1_cZ[22] .INIT="0xFFF7";
  LUT4 \count_RNIL6FVC[20]  (
	.A(timer_count[20]),
	.B(timer_count[21]),
	.C(GND),
	.D(GND),
	.Z(candidate6_21_3)
);
defparam \count_RNIL6FVC[20] .INIT="0x1111";
  LUT4 \count_RNI1J8QM[9]  (
	.A(timer_count[9]),
	.B(timer_count[10]),
	.C(timer_count[12]),
	.D(timer_count[13]),
	.Z(candidate6_22_11)
);
defparam \count_RNI1J8QM[9] .INIT="0x8000";
  LUT4 \count_RNI6O8QM[8]  (
	.A(timer_count[8]),
	.B(timer_count[11]),
	.C(timer_count[14]),
	.D(timer_count[16]),
	.Z(candidate6_22_10)
);
defparam \count_RNI6O8QM[8] .INIT="0x1000";
  LUT4 \count_RNI6FICD[0]  (
	.A(timer_count[0]),
	.B(timer_count[1]),
	.C(timer_count[2]),
	.D(timer_count[3]),
	.Z(candidate6_22_9)
);
defparam \count_RNI6FICD[0] .INIT="0x8000";
  LUT4 \count_RNIMVICD[4]  (
	.A(timer_count[4]),
	.B(timer_count[5]),
	.C(timer_count[6]),
	.D(timer_count[7]),
	.Z(candidate6_22_8)
);
defparam \count_RNIMVICD[4] .INIT="0x8000";
  LUT4 \count_RNI11RUP[15]  (
	.A(timer_count[15]),
	.B(timer_count[17]),
	.C(timer_count[18]),
	.D(timer_count[19]),
	.Z(candidate6_21_4)
);
defparam \count_RNI11RUP[15] .INIT="0x0001";
  LUT4 \count_RNIFIPTJ1_0[22]  (
	.A(candidate6_21_3),
	.B(candidate6_21_4),
	.C(timer_count[22]),
	.D(timer_count[23]),
	.Z(candidate6_21)
);
defparam \count_RNIFIPTJ1_0[22] .INIT="0x0008";
  LUT4 \count_RNI3QMD82[0]  (
	.A(candidate6_22_8),
	.B(candidate6_22_9),
	.C(candidate6_22_10),
	.D(candidate6_22_11),
	.Z(candidate6_22)
);
defparam \count_RNI3QMD82[0] .INIT="0x8000";
  CCU2_B \count_RNO[23]  (
	.CIN(un1_count_1_cry_22),
	.A0(timer_count[23]),
	.A1(GND),
	.B0(GND),
	.B1(GND),
	.C0(timer_reset_n_i),
	.C1(GND),
	.COUT(N_1),
	.S0(count_RNO_S0_1[23]),
	.S1(N_2)
);
defparam \count_RNO[23] .INIT0="0x050A";
defparam \count_RNO[23] .INIT1="0xC33C";
// @60:21
  CCU2_B un1_count_1_cry_21_c_0 (
	.CIN(un1_count_1_cry_20),
	.A0(timer_reset_n_i),
	.A1(timer_reset_n_i),
	.B0(timer_count[21]),
	.B1(timer_count[22]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_22),
	.S0(un1_count_1_cry_21_c_0_S0_1),
	.S1(un1_count_1_cry_21_c_0_S1_1)
);
defparam un1_count_1_cry_21_c_0.INIT0="0x1144";
defparam un1_count_1_cry_21_c_0.INIT1="0x1144";
// @60:21
  CCU2_B un1_count_1_cry_19_c_0 (
	.CIN(un1_count_1_cry_18),
	.A0(timer_reset_n_i),
	.A1(timer_reset_n_i),
	.B0(timer_count[19]),
	.B1(timer_count[20]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_20),
	.S0(un1_count_1_cry_19_c_0_S0_1),
	.S1(un1_count_1_cry_19_c_0_S1_1)
);
defparam un1_count_1_cry_19_c_0.INIT0="0x1144";
defparam un1_count_1_cry_19_c_0.INIT1="0x1144";
// @60:21
  CCU2_B un1_count_1_cry_17_c_0 (
	.CIN(un1_count_1_cry_16),
	.A0(timer_reset_n_i),
	.A1(timer_reset_n_i),
	.B0(timer_count[17]),
	.B1(timer_count[18]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_18),
	.S0(un1_count_1_cry_17_c_0_S0_0),
	.S1(un1_count_1_cry_17_c_0_S1_1)
);
defparam un1_count_1_cry_17_c_0.INIT0="0x1144";
defparam un1_count_1_cry_17_c_0.INIT1="0x1144";
// @60:21
  CCU2_B un1_count_1_cry_15_c_0 (
	.CIN(un1_count_1_cry_14),
	.A0(timer_reset_n_i),
	.A1(GND),
	.B0(timer_count[15]),
	.B1(timer_count[16]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_16),
	.S0(un1_count_1_cry_15_c_0_S0_1),
	.S1(N_73)
);
defparam un1_count_1_cry_15_c_0.INIT0="0x1144";
defparam un1_count_1_cry_15_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_13_c_0 (
	.CIN(un1_count_1_cry_12),
	.A0(GND),
	.A1(GND),
	.B0(timer_count[13]),
	.B1(timer_count[14]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_14),
	.S0(N_70),
	.S1(N_71)
);
defparam un1_count_1_cry_13_c_0.INIT0="0x9966";
defparam un1_count_1_cry_13_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_11_c_0 (
	.CIN(un1_count_1_cry_10),
	.A0(timer_reset_n_i),
	.A1(GND),
	.B0(timer_count[11]),
	.B1(timer_count[12]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_12),
	.S0(un1_count_1_cry_11_c_0_S0),
	.S1(N_69)
);
defparam un1_count_1_cry_11_c_0.INIT0="0x1144";
defparam un1_count_1_cry_11_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_9_c_0 (
	.CIN(un1_count_1_cry_8),
	.A0(GND),
	.A1(GND),
	.B0(timer_count[9]),
	.B1(timer_count[10]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_10),
	.S0(N_66),
	.S1(N_67)
);
defparam un1_count_1_cry_9_c_0.INIT0="0x9966";
defparam un1_count_1_cry_9_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_7_c_0 (
	.CIN(un1_count_1_cry_6),
	.A0(GND),
	.A1(timer_reset_n_i),
	.B0(timer_count[7]),
	.B1(timer_count[8]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_8),
	.S0(N_64),
	.S1(un1_count_1_cry_7_c_0_S1)
);
defparam un1_count_1_cry_7_c_0.INIT0="0x9966";
defparam un1_count_1_cry_7_c_0.INIT1="0x1144";
// @60:21
  CCU2_B un1_count_1_cry_5_c_0 (
	.CIN(un1_count_1_cry_4),
	.A0(GND),
	.A1(GND),
	.B0(timer_count[5]),
	.B1(timer_count[6]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_6),
	.S0(N_62),
	.S1(N_63)
);
defparam un1_count_1_cry_5_c_0.INIT0="0x9966";
defparam un1_count_1_cry_5_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_3_c_0 (
	.CIN(un1_count_1_cry_2),
	.A0(GND),
	.A1(GND),
	.B0(timer_count[3]),
	.B1(timer_count[4]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_4),
	.S0(N_60),
	.S1(N_61)
);
defparam un1_count_1_cry_3_c_0.INIT0="0x9966";
defparam un1_count_1_cry_3_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_1_c_0 (
	.CIN(un1_count_1_cry_0),
	.A0(GND),
	.A1(GND),
	.B0(timer_count[1]),
	.B1(timer_count[2]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_2),
	.S0(N_58),
	.S1(N_59)
);
defparam un1_count_1_cry_1_c_0.INIT0="0x9966";
defparam un1_count_1_cry_1_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_0_c_0 (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(N_81),
	.B1(timer_count[0]),
	.C0(N_81),
	.C1(GND),
	.COUT(un1_count_1_cry_0),
	.S0(N_3),
	.S1(N_57)
);
defparam un1_count_1_cry_0_c_0.INIT0="0xC33C";
defparam un1_count_1_cry_0_c_0.INIT1="0x9966";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* counter_24s_95999 */

module lab3debouncer (
  segout_0_i,
  numdummy2,
  state_i,
  int_osc
)
;
input [3:0] segout_0_i ;
output [4:0] numdummy2 ;
input state_i ;
input int_osc ;
wire state_i ;
wire int_osc ;
wire [4:0] candidate;
wire [4:0] seg_1;
wire [4:0] seg_0;
wire GND ;
wire VCC ;
wire seg_out_3 ;
wire seg_out_2 ;
wire seg_out_1 ;
wire seg_out_0 ;
wire seg_out ;
wire un3_timer_reset_n_4 ;
wire un1_timer_reset_n_NE_1 ;
wire un1_timer_reset_n_NE_0_0 ;
wire un3_timer_reset_n_NE_1 ;
wire un3_timer_reset_n_NE_0_0 ;
wire un1_timer_reset_n_NE_0 ;
wire candidate6_21 ;
wire candidate6_0 ;
wire timer_reset_n_i ;
wire candidate6_22 ;
// @64:22
  FD1P3DZ \candidate_Z[4]  (
	.Q(candidate[4]),
	.D(seg_1[4]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \candidate_Z[3]  (
	.Q(candidate[3]),
	.D(seg_1[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \candidate_Z[2]  (
	.Q(candidate[2]),
	.D(seg_1[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \candidate_Z[1]  (
	.Q(candidate[1]),
	.D(seg_1[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \candidate_Z[0]  (
	.Q(candidate[0]),
	.D(seg_1[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_out[4]  (
	.Q(numdummy2[4]),
	.D(seg_out_3),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_out[3]  (
	.Q(numdummy2[3]),
	.D(seg_out_2),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_out[2]  (
	.Q(numdummy2[2]),
	.D(seg_out_1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_out[1]  (
	.Q(numdummy2[1]),
	.D(seg_out_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_out[0]  (
	.Q(numdummy2[0]),
	.D(seg_out),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_0_Z[4]  (
	.Q(seg_0[4]),
	.D(state_i),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_0_Z[3]  (
	.Q(seg_0[3]),
	.D(segout_0_i[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_0_Z[2]  (
	.Q(seg_0[2]),
	.D(segout_0_i[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_0_Z[1]  (
	.Q(seg_0[1]),
	.D(segout_0_i[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_0_Z[0]  (
	.Q(seg_0[0]),
	.D(segout_0_i[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_1_Z[4]  (
	.Q(seg_1[4]),
	.D(seg_0[4]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_1_Z[3]  (
	.Q(seg_1[3]),
	.D(seg_0[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_1_Z[2]  (
	.Q(seg_1[2]),
	.D(seg_0[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_1_Z[1]  (
	.Q(seg_1[1]),
	.D(seg_0[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @64:22
  FD1P3DZ \seg_1_Z[0]  (
	.Q(seg_1[0]),
	.D(seg_0[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
  LUT4 \candidate_RNILKUV7[4]  (
	.A(candidate[4]),
	.B(numdummy2[4]),
	.C(GND),
	.D(GND),
	.Z(un3_timer_reset_n_4)
);
defparam \candidate_RNILKUV7[4] .INIT="0x6666";
  LUT4 \seg_1_RNIECFBB[0]  (
	.A(candidate[0]),
	.B(candidate[1]),
	.C(seg_1[0]),
	.D(seg_1[1]),
	.Z(un1_timer_reset_n_NE_1)
);
defparam \seg_1_RNIECFBB[0] .INIT="0x8421";
  LUT4 \seg_1_RNIMKFBB[2]  (
	.A(candidate[2]),
	.B(candidate[3]),
	.C(seg_1[2]),
	.D(seg_1[3]),
	.Z(un1_timer_reset_n_NE_0_0)
);
defparam \seg_1_RNIMKFBB[2] .INIT="0x8421";
  LUT4 \candidate_RNISQSVF[0]  (
	.A(candidate[0]),
	.B(candidate[1]),
	.C(numdummy2[0]),
	.D(numdummy2[1]),
	.Z(un3_timer_reset_n_NE_1)
);
defparam \candidate_RNISQSVF[0] .INIT="0x8421";
  LUT4 \candidate_RNI43TVF[2]  (
	.A(candidate[2]),
	.B(candidate[3]),
	.C(numdummy2[2]),
	.D(numdummy2[3]),
	.Z(un3_timer_reset_n_NE_0_0)
);
defparam \candidate_RNI43TVF[2] .INIT="0x8421";
  LUT4 \seg_1_RNIIUMCS[4]  (
	.A(candidate[4]),
	.B(seg_1[4]),
	.C(un1_timer_reset_n_NE_0_0),
	.D(un1_timer_reset_n_NE_1),
	.Z(un1_timer_reset_n_NE_0)
);
defparam \seg_1_RNIIUMCS[4] .INIT="0x9000";
  LUT4 \seg_1_RNI1HGAG2[4]  (
	.A(candidate6_21),
	.B(un1_timer_reset_n_NE_0),
	.C(GND),
	.D(GND),
	.Z(candidate6_0)
);
defparam \seg_1_RNI1HGAG2[4] .INIT="0x8888";
  LUT4 \candidate_RNI7HFC42[0]  (
	.A(un1_timer_reset_n_NE_0),
	.B(un3_timer_reset_n_4),
	.C(un3_timer_reset_n_NE_0_0),
	.D(un3_timer_reset_n_NE_1),
	.Z(timer_reset_n_i)
);
defparam \candidate_RNI7HFC42[0] .INIT="0x7555";
  LUT4 \seg_out_RNO[4]  (
	.A(candidate6_0),
	.B(candidate6_22),
	.C(candidate[4]),
	.D(numdummy2[4]),
	.Z(seg_out_3)
);
defparam \seg_out_RNO[4] .INIT="0xF780";
  LUT4 \seg_out_RNO[3]  (
	.A(candidate6_0),
	.B(candidate6_22),
	.C(candidate[3]),
	.D(numdummy2[3]),
	.Z(seg_out_2)
);
defparam \seg_out_RNO[3] .INIT="0xF780";
  LUT4 \seg_out_RNO[2]  (
	.A(candidate6_0),
	.B(candidate6_22),
	.C(candidate[2]),
	.D(numdummy2[2]),
	.Z(seg_out_1)
);
defparam \seg_out_RNO[2] .INIT="0xF780";
  LUT4 \seg_out_RNO[1]  (
	.A(candidate6_0),
	.B(candidate6_22),
	.C(candidate[1]),
	.D(numdummy2[1]),
	.Z(seg_out_0)
);
defparam \seg_out_RNO[1] .INIT="0xF780";
  LUT4 \seg_out_RNO[0]  (
	.A(candidate6_0),
	.B(candidate6_22),
	.C(candidate[0]),
	.D(numdummy2[0]),
	.Z(seg_out)
);
defparam \seg_out_RNO[0] .INIT="0xF780";
// @64:52
  counter_24s_95999 debounce_counter (
	.timer_reset_n_i(timer_reset_n_i),
	.candidate6_21(candidate6_21),
	.candidate6_22(candidate6_22),
	.int_osc(int_osc)
);
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* lab3debouncer */

module lab2_sevenseg (
  segleft_5,
  segleft_6,
  segleft_4,
  segleft_0,
  left_num,
  N_9,
  N_14,
  i2_mux
)
;
output segleft_5 ;
output segleft_6 ;
output segleft_4 ;
output segleft_0 ;
input [3:0] left_num ;
output N_9 ;
output N_14 ;
output i2_mux ;
wire segleft_5 ;
wire segleft_6 ;
wire segleft_4 ;
wire segleft_0 ;
wire N_9 ;
wire N_14 ;
wire i2_mux ;
wire GND_x ;
wire VCC_x ;
wire GND ;
wire VCC ;
  LUT4 \seg_1_6_0_.m21  (
	.A(left_num[0]),
	.B(left_num[1]),
	.C(left_num[2]),
	.D(left_num[3]),
	.Z(segleft_5)
);
defparam \seg_1_6_0_.m21 .INIT="0x208C";
  LUT4 \seg_1_6_0_.m17  (
	.A(left_num[0]),
	.B(left_num[1]),
	.C(left_num[2]),
	.D(left_num[3]),
	.Z(i2_mux)
);
defparam \seg_1_6_0_.m17 .INIT="0x8692";
  LUT4 \seg_1_6_0_.m23  (
	.A(left_num[0]),
	.B(left_num[1]),
	.C(left_num[2]),
	.D(left_num[3]),
	.Z(segleft_6)
);
defparam \seg_1_6_0_.m23 .INIT="0x1083";
  LUT4 \seg_1_6_0_.m20  (
	.A(left_num[0]),
	.B(left_num[1]),
	.C(left_num[2]),
	.D(left_num[3]),
	.Z(segleft_4)
);
defparam \seg_1_6_0_.m20 .INIT="0x02B8";
  LUT4 \seg_1_6_0_.m13  (
	.A(left_num[0]),
	.B(left_num[1]),
	.C(left_num[2]),
	.D(left_num[3]),
	.Z(N_14)
);
defparam \seg_1_6_0_.m13 .INIT="0xD006";
  LUT4 \seg_1_6_0_.m8  (
	.A(left_num[0]),
	.B(left_num[1]),
	.C(left_num[2]),
	.D(left_num[3]),
	.Z(N_9)
);
defparam \seg_1_6_0_.m8 .INIT="0xD862";
  LUT4 \seg_1_6_0_.m6  (
	.A(left_num[0]),
	.B(left_num[1]),
	.C(left_num[2]),
	.D(left_num[3]),
	.Z(segleft_0)
);
defparam \seg_1_6_0_.m6 .INIT="0x2812";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* lab2_sevenseg */

module lab2_sevenseg_0 (
  anode_c_i_0,
  counter,
  anode_6_0,
  right_num,
  seg_c,
  segleft_0,
  segleft_4,
  segleft_5,
  segleft_6,
  anode_c_0,
  multilto8,
  multilto7,
  i2_mux,
  N_14,
  N_9
)
;
output anode_c_i_0 ;
input [19:5] counter ;
input anode_6_0 ;
input [3:0] right_num ;
output [6:0] seg_c ;
input segleft_0 ;
input segleft_4 ;
input segleft_5 ;
input segleft_6 ;
output anode_c_0 ;
input multilto8 ;
input multilto7 ;
input i2_mux ;
input N_14 ;
input N_9 ;
wire anode_c_i_0 ;
wire anode_6_0 ;
wire segleft_0 ;
wire segleft_4 ;
wire segleft_5 ;
wire segleft_6 ;
wire anode_c_0 ;
wire multilto8 ;
wire multilto7 ;
wire i2_mux ;
wire N_14 ;
wire N_9 ;
wire [6:0] segright;
wire GND ;
wire N_9_0 ;
wire N_14_0 ;
wire i2_mux_0 ;
wire multilt7_0 ;
wire multilto10_0 ;
wire multilto14_1 ;
wire multilt16_0 ;
wire multilto23_0 ;
wire VCC_x ;
wire VCC ;
  LUT4 \seg_1_6_0_.seg_ns[0]  (
	.A(anode_c_0),
	.B(segleft_0),
	.C(segright[0]),
	.D(GND),
	.Z(seg_c[0])
);
defparam \seg_1_6_0_.seg_ns[0] .INIT="0xE4E4";
  LUT4 \seg_1_6_0_.seg_ns[1]  (
	.A(anode_c_0),
	.B(N_9),
	.C(N_9_0),
	.D(GND),
	.Z(seg_c[1])
);
defparam \seg_1_6_0_.seg_ns[1] .INIT="0xE4E4";
  LUT4 \seg_1_6_0_.seg_ns[2]  (
	.A(anode_c_0),
	.B(N_14),
	.C(N_14_0),
	.D(GND),
	.Z(seg_c[2])
);
defparam \seg_1_6_0_.seg_ns[2] .INIT="0xE4E4";
  LUT4 \seg_1_6_0_.seg_ns[3]  (
	.A(anode_c_0),
	.B(i2_mux),
	.C(i2_mux_0),
	.D(GND),
	.Z(seg_c[3])
);
defparam \seg_1_6_0_.seg_ns[3] .INIT="0xE4E4";
  LUT4 \seg_1_6_0_.seg_ns[4]  (
	.A(anode_c_0),
	.B(segleft_4),
	.C(segright[4]),
	.D(GND),
	.Z(seg_c[4])
);
defparam \seg_1_6_0_.seg_ns[4] .INIT="0xE4E4";
  LUT4 \seg_1_6_0_.seg_ns[5]  (
	.A(anode_c_0),
	.B(segleft_5),
	.C(segright[5]),
	.D(GND),
	.Z(seg_c[5])
);
defparam \seg_1_6_0_.seg_ns[5] .INIT="0xE4E4";
  LUT4 \seg_1_6_0_.seg_ns[6]  (
	.A(anode_c_0),
	.B(segleft_6),
	.C(segright[6]),
	.D(GND),
	.Z(seg_c[6])
);
defparam \seg_1_6_0_.seg_ns[6] .INIT="0xE4E4";
  LUT4 \seg_1_6_0_.multilto6  (
	.A(counter[5]),
	.B(counter[6]),
	.C(GND),
	.D(GND),
	.Z(multilt7_0)
);
defparam \seg_1_6_0_.multilto6 .INIT="0x1111";
  LUT4 \seg_1_6_0_.m21  (
	.A(right_num[0]),
	.B(right_num[1]),
	.C(right_num[2]),
	.D(right_num[3]),
	.Z(segright[5])
);
defparam \seg_1_6_0_.m21 .INIT="0x208C";
  LUT4 \seg_1_6_0_.multilto10_0  (
	.A(counter[9]),
	.B(multilt7_0),
	.C(multilto7),
	.D(multilto8),
	.Z(multilto10_0)
);
defparam \seg_1_6_0_.multilto10_0 .INIT="0xAA20";
  LUT4 \seg_1_6_0_.m17  (
	.A(right_num[0]),
	.B(right_num[1]),
	.C(right_num[2]),
	.D(right_num[3]),
	.Z(i2_mux_0)
);
defparam \seg_1_6_0_.m17 .INIT="0x8692";
  LUT4 \seg_1_6_0_.m23  (
	.A(right_num[0]),
	.B(right_num[1]),
	.C(right_num[2]),
	.D(right_num[3]),
	.Z(segright[6])
);
defparam \seg_1_6_0_.m23 .INIT="0x1083";
  LUT4 \seg_1_6_0_.m20  (
	.A(right_num[0]),
	.B(right_num[1]),
	.C(right_num[2]),
	.D(right_num[3]),
	.Z(segright[4])
);
defparam \seg_1_6_0_.m20 .INIT="0x02B8";
  LUT4 \seg_1_6_0_.m13  (
	.A(right_num[0]),
	.B(right_num[1]),
	.C(right_num[2]),
	.D(right_num[3]),
	.Z(N_14_0)
);
defparam \seg_1_6_0_.m13 .INIT="0xD006";
  LUT4 \seg_1_6_0_.m8  (
	.A(right_num[0]),
	.B(right_num[1]),
	.C(right_num[2]),
	.D(right_num[3]),
	.Z(N_9_0)
);
defparam \seg_1_6_0_.m8 .INIT="0xD862";
  LUT4 \seg_1_6_0_.m6  (
	.A(right_num[0]),
	.B(right_num[1]),
	.C(right_num[2]),
	.D(right_num[3]),
	.Z(segright[0])
);
defparam \seg_1_6_0_.m6 .INIT="0x2812";
  LUT4 \seg_1_6_0_.multilto14_1  (
	.A(counter[10]),
	.B(counter[12]),
	.C(counter[13]),
	.D(multilto10_0),
	.Z(multilto14_1)
);
defparam \seg_1_6_0_.multilto14_1 .INIT="0x0103";
  LUT4 \seg_1_6_0_.multilto14  (
	.A(counter[11]),
	.B(counter[14]),
	.C(multilto14_1),
	.D(GND),
	.Z(multilt16_0)
);
defparam \seg_1_6_0_.multilto14 .INIT="0x1010";
  LUT4 \seg_1_6_0_.multilto23_0  (
	.A(counter[15]),
	.B(counter[16]),
	.C(counter[17]),
	.D(multilt16_0),
	.Z(multilto23_0)
);
defparam \seg_1_6_0_.multilto23_0 .INIT="0x0F07";
  LUT4 \seg_1_6_0_.multilto23  (
	.A(anode_6_0),
	.B(counter[18]),
	.C(counter[19]),
	.D(multilto23_0),
	.Z(anode_c_0)
);
defparam \seg_1_6_0_.multilto23 .INIT="0x0200";
  LUT4 \seg_1_6_0_.anode_c_i[1]  (
	.A(anode_c_0),
	.B(GND),
	.C(GND),
	.D(GND),
	.Z(anode_c_i_0)
);
defparam \seg_1_6_0_.anode_c_i[1] .INIT="0x5555";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* lab2_sevenseg_0 */

module lab3led (
  anode_c_0,
  seg_c,
  anode_6_0,
  counter,
  anode_c_i_0,
  numdummy2,
  multilto7,
  multilto8,
  int_osc
)
;
output anode_c_0 ;
output [6:0] seg_c ;
input anode_6_0 ;
input [19:5] counter ;
output anode_c_i_0 ;
input [4:0] numdummy2 ;
input multilto7 ;
input multilto8 ;
input int_osc ;
wire anode_c_0 ;
wire anode_6_0 ;
wire anode_c_i_0 ;
wire multilto7 ;
wire multilto8 ;
wire int_osc ;
wire [4:0] previous_num;
wire [3:0] right_num;
wire [3:0] left_num;
wire [6:0] segleft;
wire GND ;
wire VCC ;
wire left_num_0_sqmuxa ;
wire un1_num_1_NE_1 ;
wire un1_num_1_NE_0_0 ;
wire un1_num_2 ;
wire un1_num_1_NE_0 ;
wire N_9 ;
wire N_14 ;
wire i2_mux ;
wire N_994 ;
wire N_995 ;
// @65:20
  FD1P3DZ \previous_num_Z[4]  (
	.Q(previous_num[4]),
	.D(numdummy2[4]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @65:20
  FD1P3DZ \previous_num_Z[3]  (
	.Q(previous_num[3]),
	.D(numdummy2[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @65:20
  FD1P3DZ \previous_num_Z[2]  (
	.Q(previous_num[2]),
	.D(numdummy2[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @65:20
  FD1P3DZ \previous_num_Z[1]  (
	.Q(previous_num[1]),
	.D(numdummy2[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @65:20
  FD1P3DZ \previous_num_Z[0]  (
	.Q(previous_num[0]),
	.D(numdummy2[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @65:20
  FD1P3DZ \right_num_Z[0]  (
	.Q(right_num[0]),
	.D(numdummy2[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(left_num_0_sqmuxa)
);
// @65:20
  FD1P3DZ \right_num_Z[1]  (
	.Q(right_num[1]),
	.D(numdummy2[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(left_num_0_sqmuxa)
);
// @65:20
  FD1P3DZ \right_num_Z[2]  (
	.Q(right_num[2]),
	.D(numdummy2[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(left_num_0_sqmuxa)
);
// @65:20
  FD1P3DZ \right_num_Z[3]  (
	.Q(right_num[3]),
	.D(numdummy2[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(left_num_0_sqmuxa)
);
// @65:20
  FD1P3DZ \left_num_Z[0]  (
	.Q(left_num[0]),
	.D(right_num[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(left_num_0_sqmuxa)
);
// @65:20
  FD1P3DZ \left_num_Z[1]  (
	.Q(left_num[1]),
	.D(right_num[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(left_num_0_sqmuxa)
);
// @65:20
  FD1P3DZ \left_num_Z[2]  (
	.Q(left_num[2]),
	.D(right_num[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(left_num_0_sqmuxa)
);
// @65:20
  FD1P3DZ \left_num_Z[3]  (
	.Q(left_num[3]),
	.D(right_num[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(left_num_0_sqmuxa)
);
  LUT4 \previous_num_RNIMNA1F[0]  (
	.A(previous_num[0]),
	.B(previous_num[1]),
	.C(numdummy2[0]),
	.D(numdummy2[1]),
	.Z(un1_num_1_NE_1)
);
defparam \previous_num_RNIMNA1F[0] .INIT="0x8421";
  LUT4 \previous_num_RNIUVA1F[2]  (
	.A(previous_num[2]),
	.B(previous_num[3]),
	.C(numdummy2[2]),
	.D(numdummy2[3]),
	.Z(un1_num_1_NE_0_0)
);
defparam \previous_num_RNIUVA1F[2] .INIT="0x8421";
  LUT4 un1_num_2_cZ (
	.A(numdummy2[2]),
	.B(numdummy2[3]),
	.C(numdummy2[4]),
	.D(GND),
	.Z(un1_num_2)
);
defparam un1_num_2_cZ.INIT="0x8080";
  LUT4 \previous_num_RNIMABJ51[4]  (
	.A(previous_num[4]),
	.B(un1_num_1_NE_0_0),
	.C(un1_num_1_NE_1),
	.D(numdummy2[4]),
	.Z(un1_num_1_NE_0)
);
defparam \previous_num_RNIMABJ51[4] .INIT="0x8040";
  LUT4 \previous_num_RNIF2GQ52[4]  (
	.A(un1_num_1_NE_0),
	.B(un1_num_2),
	.C(numdummy2[0]),
	.D(numdummy2[1]),
	.Z(left_num_0_sqmuxa)
);
defparam \previous_num_RNIF2GQ52[4] .INIT="0x1555";
// @65:41
  lab2_sevenseg left (
	.segleft_5(segleft[5]),
	.segleft_6(segleft[6]),
	.segleft_4(segleft[4]),
	.segleft_0(segleft[0]),
	.left_num(left_num[3:0]),
	.N_9(N_9),
	.N_14(N_14),
	.i2_mux(i2_mux)
);
// @65:47
  lab2_sevenseg_0 right (
	.anode_c_i_0(anode_c_i_0),
	.counter({counter[19:9], N_995, N_994, counter[6:5]}),
	.anode_6_0(anode_6_0),
	.right_num(right_num[3:0]),
	.seg_c(seg_c[6:0]),
	.segleft_0(segleft[0]),
	.segleft_4(segleft[4]),
	.segleft_5(segleft[5]),
	.segleft_6(segleft[6]),
	.anode_c_0(anode_c_0),
	.multilto8(multilto8),
	.multilto7(multilto7),
	.i2_mux(i2_mux),
	.N_14(N_14),
	.N_9(N_9)
);
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* lab3led */

module counter_24s_199999 (
  anode_6_0,
  counter,
  multilto7,
  multilto8,
  int_osc
)
;
output anode_6_0 ;
output [19:5] counter ;
output multilto7 ;
output multilto8 ;
input int_osc ;
wire anode_6_0 ;
wire multilto7 ;
wire multilto8 ;
wire int_osc ;
wire [17:0] count_12;
wire [23:0] counter_Z;
wire [23:23] count_RNO_S0_0;
wire GND ;
wire VCC ;
wire un1_count_1_cry_9_c_0_S0_0 ;
wire un1_count_1_cry_7_c_0_S0 ;
wire un1_count_1_cry_5_c_0_S1_0 ;
wire un1_count_1_cry_21_c_0_S1_0 ;
wire un1_count_1_cry_21_c_0_S0_0 ;
wire un1_count_1_cry_19_c_0_S1_0 ;
wire un1_count_1_cry_19_c_0_S0_0 ;
wire un1_count_1_cry_17_c_0_S1_0 ;
wire un1_count_1_cry_15_c_0_S0_0 ;
wire un1_count_1_cry_13_c_0_S1 ;
wire un1_count_1_cry_13_c_0_S0_0 ;
wire un1_count_1_cry_11_c_0_S1 ;
wire N_32 ;
wire count56_12 ;
wire count56_16 ;
wire N_33 ;
wire N_34 ;
wire N_35 ;
wire N_36 ;
wire N_37 ;
wire N_40 ;
wire N_42 ;
wire N_43 ;
wire N_48 ;
wire N_49 ;
wire count56_11 ;
wire count56_10 ;
wire count56_9 ;
wire count56_8 ;
wire N_56 ;
wire un1_count_1_cry_22 ;
wire un1_count_1_cry_20 ;
wire un1_count_1_cry_18 ;
wire un1_count_1_cry_16 ;
wire un1_count_1_cry_14 ;
wire un1_count_1_cry_12 ;
wire un1_count_1_cry_10 ;
wire un1_count_1_cry_8 ;
wire un1_count_1_cry_6 ;
wire un1_count_1_cry_4 ;
wire un1_count_1_cry_2 ;
wire un1_count_1_cry_0 ;
wire N_3 ;
wire N_4 ;
wire N_5 ;
// @60:13
  FD1P3DZ \count[10]  (
	.Q(counter[10]),
	.D(count_12[10]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[9]  (
	.Q(counter[9]),
	.D(un1_count_1_cry_9_c_0_S0_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[8]  (
	.Q(multilto8),
	.D(count_12[8]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[7]  (
	.Q(multilto7),
	.D(un1_count_1_cry_7_c_0_S0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[6]  (
	.Q(counter[6]),
	.D(un1_count_1_cry_5_c_0_S1_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[5]  (
	.Q(counter[5]),
	.D(count_12[5]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[4]  (
	.Q(counter_Z[4]),
	.D(count_12[4]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[3]  (
	.Q(counter_Z[3]),
	.D(count_12[3]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[2]  (
	.Q(counter_Z[2]),
	.D(count_12[2]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[1]  (
	.Q(counter_Z[1]),
	.D(count_12[1]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[0]  (
	.Q(counter_Z[0]),
	.D(count_12[0]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[23]  (
	.Q(counter_Z[23]),
	.D(count_RNO_S0_0[23]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[22]  (
	.Q(counter_Z[22]),
	.D(un1_count_1_cry_21_c_0_S1_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[21]  (
	.Q(counter_Z[21]),
	.D(un1_count_1_cry_21_c_0_S0_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[20]  (
	.Q(counter_Z[20]),
	.D(un1_count_1_cry_19_c_0_S1_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[19]  (
	.Q(counter[19]),
	.D(un1_count_1_cry_19_c_0_S0_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[18]  (
	.Q(counter[18]),
	.D(un1_count_1_cry_17_c_0_S1_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[17]  (
	.Q(counter[17]),
	.D(count_12[17]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[16]  (
	.Q(counter[16]),
	.D(count_12[16]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[15]  (
	.Q(counter[15]),
	.D(un1_count_1_cry_15_c_0_S0_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[14]  (
	.Q(counter[14]),
	.D(un1_count_1_cry_13_c_0_S1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[13]  (
	.Q(counter[13]),
	.D(un1_count_1_cry_13_c_0_S0_0),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[12]  (
	.Q(counter[12]),
	.D(un1_count_1_cry_11_c_0_S1),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
// @60:13
  FD1P3DZ \count[11]  (
	.Q(counter[11]),
	.D(count_12[11]),
	.CK(int_osc),
	.CD(GND),
	.SP(VCC)
);
  LUT4 \count_RNO[0]  (
	.A(N_32),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[0])
);
defparam \count_RNO[0] .INIT="0x2AAA";
  LUT4 \count_RNO[1]  (
	.A(N_33),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[1])
);
defparam \count_RNO[1] .INIT="0x2AAA";
  LUT4 \count_RNO[2]  (
	.A(N_34),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[2])
);
defparam \count_RNO[2] .INIT="0x2AAA";
  LUT4 \count_RNO[3]  (
	.A(N_35),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[3])
);
defparam \count_RNO[3] .INIT="0x2AAA";
  LUT4 \count_RNO[4]  (
	.A(N_36),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[4])
);
defparam \count_RNO[4] .INIT="0x2AAA";
  LUT4 \count_RNO[5]  (
	.A(N_37),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[5])
);
defparam \count_RNO[5] .INIT="0x2AAA";
  LUT4 \count_RNO[8]  (
	.A(N_40),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[8])
);
defparam \count_RNO[8] .INIT="0x2AAA";
  LUT4 \count_RNO[10]  (
	.A(N_42),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[10])
);
defparam \count_RNO[10] .INIT="0x2AAA";
  LUT4 \count_RNO[11]  (
	.A(N_43),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[11])
);
defparam \count_RNO[11] .INIT="0x2AAA";
  LUT4 \count_RNO[16]  (
	.A(N_48),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[16])
);
defparam \count_RNO[16] .INIT="0x2AAA";
  LUT4 \count_RNO[17]  (
	.A(N_49),
	.B(anode_6_0),
	.C(count56_12),
	.D(count56_16),
	.Z(count_12[17])
);
defparam \count_RNO[17] .INIT="0x2AAA";
  LUT4 \count_RNIQDE1Q[12]  (
	.A(counter[12]),
	.B(counter[13]),
	.C(counter[18]),
	.D(counter[19]),
	.Z(count56_12)
);
defparam \count_RNIQDE1Q[12] .INIT="0x0001";
  LUT4 \count_RNI17V4M[5]  (
	.A(counter[5]),
	.B(counter[10]),
	.C(counter[14]),
	.D(counter[15]),
	.Z(count56_11)
);
defparam \count_RNI17V4M[5] .INIT="0x0008";
  LUT4 \count_RNI9FV4M[8]  (
	.A(counter[11]),
	.B(counter[16]),
	.C(counter[17]),
	.D(multilto8),
	.Z(count56_10)
);
defparam \count_RNI9FV4M[8] .INIT="0x8000";
  LUT4 \count_RNIMJIFA[0]  (
	.A(counter_Z[0]),
	.B(counter[6]),
	.C(counter[9]),
	.D(multilto7),
	.Z(count56_9)
);
defparam \count_RNIMJIFA[0] .INIT="0x0002";
  LUT4 \count_RNIA7IFA[1]  (
	.A(counter_Z[1]),
	.B(counter_Z[2]),
	.C(counter_Z[3]),
	.D(counter_Z[4]),
	.Z(count56_8)
);
defparam \count_RNIA7IFA[1] .INIT="0x8000";
  LUT4 \count_RNIE5I1Q[20]  (
	.A(counter_Z[20]),
	.B(counter_Z[21]),
	.C(counter_Z[22]),
	.D(counter_Z[23]),
	.Z(anode_6_0)
);
defparam \count_RNIE5I1Q[20] .INIT="0x0001";
  LUT4 \count_RNIAH3912[0]  (
	.A(count56_8),
	.B(count56_9),
	.C(count56_10),
	.D(count56_11),
	.Z(count56_16)
);
defparam \count_RNIAH3912[0] .INIT="0x8000";
  LUT4 \count_RNII44CL3[12]  (
	.A(anode_6_0),
	.B(count56_12),
	.C(count56_16),
	.D(GND),
	.Z(N_56)
);
defparam \count_RNII44CL3[12] .INIT="0x7F7F";
  CCU2_B \count_RNO[23]  (
	.CIN(un1_count_1_cry_22),
	.A0(counter_Z[23]),
	.A1(GND),
	.B0(GND),
	.B1(GND),
	.C0(GND),
	.C1(GND),
	.COUT(N_3),
	.S0(count_RNO_S0_0[23]),
	.S1(N_4)
);
defparam \count_RNO[23] .INIT0="0x55AA";
defparam \count_RNO[23] .INIT1="0xC33C";
// @60:21
  CCU2_B un1_count_1_cry_21_c_0 (
	.CIN(un1_count_1_cry_20),
	.A0(GND),
	.A1(GND),
	.B0(counter_Z[21]),
	.B1(counter_Z[22]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_22),
	.S0(un1_count_1_cry_21_c_0_S0_0),
	.S1(un1_count_1_cry_21_c_0_S1_0)
);
defparam un1_count_1_cry_21_c_0.INIT0="0x9966";
defparam un1_count_1_cry_21_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_19_c_0 (
	.CIN(un1_count_1_cry_18),
	.A0(GND),
	.A1(GND),
	.B0(counter[19]),
	.B1(counter_Z[20]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_20),
	.S0(un1_count_1_cry_19_c_0_S0_0),
	.S1(un1_count_1_cry_19_c_0_S1_0)
);
defparam un1_count_1_cry_19_c_0.INIT0="0x9966";
defparam un1_count_1_cry_19_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_17_c_0 (
	.CIN(un1_count_1_cry_16),
	.A0(GND),
	.A1(GND),
	.B0(counter[17]),
	.B1(counter[18]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_18),
	.S0(N_49),
	.S1(un1_count_1_cry_17_c_0_S1_0)
);
defparam un1_count_1_cry_17_c_0.INIT0="0x9966";
defparam un1_count_1_cry_17_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_15_c_0 (
	.CIN(un1_count_1_cry_14),
	.A0(GND),
	.A1(GND),
	.B0(counter[15]),
	.B1(counter[16]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_16),
	.S0(un1_count_1_cry_15_c_0_S0_0),
	.S1(N_48)
);
defparam un1_count_1_cry_15_c_0.INIT0="0x9966";
defparam un1_count_1_cry_15_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_13_c_0 (
	.CIN(un1_count_1_cry_12),
	.A0(GND),
	.A1(GND),
	.B0(counter[13]),
	.B1(counter[14]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_14),
	.S0(un1_count_1_cry_13_c_0_S0_0),
	.S1(un1_count_1_cry_13_c_0_S1)
);
defparam un1_count_1_cry_13_c_0.INIT0="0x9966";
defparam un1_count_1_cry_13_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_11_c_0 (
	.CIN(un1_count_1_cry_10),
	.A0(GND),
	.A1(GND),
	.B0(counter[11]),
	.B1(counter[12]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_12),
	.S0(N_43),
	.S1(un1_count_1_cry_11_c_0_S1)
);
defparam un1_count_1_cry_11_c_0.INIT0="0x9966";
defparam un1_count_1_cry_11_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_9_c_0 (
	.CIN(un1_count_1_cry_8),
	.A0(GND),
	.A1(GND),
	.B0(counter[9]),
	.B1(counter[10]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_10),
	.S0(un1_count_1_cry_9_c_0_S0_0),
	.S1(N_42)
);
defparam un1_count_1_cry_9_c_0.INIT0="0x9966";
defparam un1_count_1_cry_9_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_7_c_0 (
	.CIN(un1_count_1_cry_6),
	.A0(GND),
	.A1(GND),
	.B0(multilto7),
	.B1(multilto8),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_8),
	.S0(un1_count_1_cry_7_c_0_S0),
	.S1(N_40)
);
defparam un1_count_1_cry_7_c_0.INIT0="0x9966";
defparam un1_count_1_cry_7_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_5_c_0 (
	.CIN(un1_count_1_cry_4),
	.A0(GND),
	.A1(GND),
	.B0(counter[5]),
	.B1(counter[6]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_6),
	.S0(N_37),
	.S1(un1_count_1_cry_5_c_0_S1_0)
);
defparam un1_count_1_cry_5_c_0.INIT0="0x9966";
defparam un1_count_1_cry_5_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_3_c_0 (
	.CIN(un1_count_1_cry_2),
	.A0(GND),
	.A1(GND),
	.B0(counter_Z[3]),
	.B1(counter_Z[4]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_4),
	.S0(N_35),
	.S1(N_36)
);
defparam un1_count_1_cry_3_c_0.INIT0="0x9966";
defparam un1_count_1_cry_3_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_1_c_0 (
	.CIN(un1_count_1_cry_0),
	.A0(GND),
	.A1(GND),
	.B0(counter_Z[1]),
	.B1(counter_Z[2]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_count_1_cry_2),
	.S0(N_33),
	.S1(N_34)
);
defparam un1_count_1_cry_1_c_0.INIT0="0x9966";
defparam un1_count_1_cry_1_c_0.INIT1="0x9966";
// @60:21
  CCU2_B un1_count_1_cry_0_c_0 (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(N_56),
	.B1(counter_Z[0]),
	.C0(N_56),
	.C1(GND),
	.COUT(un1_count_1_cry_0),
	.S0(N_5),
	.S1(N_32)
);
defparam un1_count_1_cry_0_c_0.INIT0="0xC33C";
defparam un1_count_1_cry_0_c_0.INIT1="0x9966";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* counter_24s_199999 */

module lab3_skm (
  cols,
  seg,
  anode,
  rows
)
;

/*  Synopsys
.origName=lab3_skm
.langParams="width1 max_count1 display_switch"
width1=24
max_count1="24'b000000000101110110111111"
display_switch="24'b000000110000110100111111"
 */
input [3:0] cols ;
output [6:0] seg ;
output [1:0] anode ;
output [3:0] rows ;
wire [3:0] cols2;
wire [3:0] rows2;
wire [4:0] numdummy2;
wire [19:5] counter;
wire [1:1] anode_6;
wire [3:0] cols_c;
wire [6:0] seg_c;
wire [1:1] anode_c;
wire [3:0] rows_c;
wire [1:1] anode_c_i;
wire [3:0] \decoder.segout_0_i ;
wire VCC ;
wire int_osc ;
wire multilto7 ;
wire multilto8 ;
wire GND_x ;
wire \decoder.state_i  ;
wire rows_c_0_rep1 ;
wire rows_c_2_rep1 ;
wire N_996 ;
wire N_997 ;
wire N_998 ;
wire N_999 ;
wire GND ;
// @61:7
  IB \cols_ibuf[0]  (
	.I(cols[0]),
	.O(cols_c[0])
);
// @61:7
  IB \cols_ibuf[1]  (
	.I(cols[1]),
	.O(cols_c[1])
);
// @61:7
  IB \cols_ibuf[2]  (
	.I(cols[2]),
	.O(cols_c[2])
);
// @61:7
  IB \cols_ibuf[3]  (
	.I(cols[3]),
	.O(cols_c[3])
);
// @61:8
  OB \seg_obuf[0]  (
	.I(seg_c[0]),
	.O(seg[0])
);
// @61:8
  OB \seg_obuf[1]  (
	.I(seg_c[1]),
	.O(seg[1])
);
// @61:8
  OB \seg_obuf[2]  (
	.I(seg_c[2]),
	.O(seg[2])
);
// @61:8
  OB \seg_obuf[3]  (
	.I(seg_c[3]),
	.O(seg[3])
);
// @61:8
  OB \seg_obuf[4]  (
	.I(seg_c[4]),
	.O(seg[4])
);
// @61:8
  OB \seg_obuf[5]  (
	.I(seg_c[5]),
	.O(seg[5])
);
// @61:8
  OB \seg_obuf[6]  (
	.I(seg_c[6]),
	.O(seg[6])
);
// @61:9
  OB \anode_obuf[0]  (
	.I(anode_c_i[1]),
	.O(anode[0])
);
// @61:9
  OB \anode_obuf[1]  (
	.I(anode_c[1]),
	.O(anode[1])
);
// @61:10
  OB \rows_obuf[0]  (
	.I(rows_c[0]),
	.O(rows[0])
);
// @61:10
  OB \rows_obuf[1]  (
	.I(rows_c[1]),
	.O(rows[1])
);
// @61:10
  OB \rows_obuf[2]  (
	.I(rows_c[2]),
	.O(rows[2])
);
// @61:10
  OB \rows_obuf[3]  (
	.I(rows_c[3]),
	.O(rows[3])
);
// @61:21
  HSOSC hf_osc (
	.CLKHFPU(VCC),
	.CLKHFEN(VCC),
	.CLKHF(int_osc)
);
defparam hf_osc.CLKHF_DIV="0b01";
// @61:34
  lab2_scanner_24s_23999 scan (
	.rows_c(rows_c[3:0]),
	.int_osc(int_osc),
	.rows_c_2_rep1(rows_c_2_rep1),
	.rows_c_0_rep1(rows_c_0_rep1)
);
// @61:46
  lab3sync sync (
	.cols2(cols2[3:0]),
	.cols_c(cols_c[3:0]),
	.rows_c_0(rows_c[1]),
	.rows_c_2(rows_c[3]),
	.rows2(rows2[3:0]),
	.rows_c_2_rep1(rows_c_2_rep1),
	.rows_c_0_rep1(rows_c_0_rep1),
	.int_osc(int_osc)
);
// @61:58
  lab3main decoder (
	.segout_0_i(\decoder.segout_0_i [3:0]),
	.rows2(rows2[3:0]),
	.cols2(cols2[3:0]),
	.state_i(\decoder.state_i ),
	.int_osc(int_osc)
);
// @61:69
  lab3debouncer debouncer (
	.segout_0_i(\decoder.segout_0_i [3:0]),
	.numdummy2(numdummy2[4:0]),
	.state_i(\decoder.state_i ),
	.int_osc(int_osc)
);
// @61:80
  lab3led led (
	.anode_c_0(anode_c[1]),
	.seg_c(seg_c[6:0]),
	.anode_6_0(anode_6[1]),
	.counter({counter[19:9], N_997, N_996, counter[6:5]}),
	.anode_c_i_0(anode_c_i[1]),
	.numdummy2(numdummy2[4:0]),
	.multilto7(multilto7),
	.multilto8(multilto8),
	.int_osc(int_osc)
);
// @61:92
  counter_24s_199999 count (
	.anode_6_0(anode_6[1]),
	.counter({counter[19:9], N_999, N_998, counter[6:5]}),
	.multilto7(multilto7),
	.multilto8(multilto8),
	.int_osc(int_osc)
);
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* lab3_skm */

